## lubridate

## stringr

## sqldf

## gmodels

## data.table

## tidyr

### tidy data

* Each variable in the data set is placed in its own column  
* Each observation is placed in its own row  
* Each value is placed in its own cell  
  
Hadley Wickham's journal of statistical software paper:  
https://vita.had.co.nz/papers/tidy-data.pdf

![Imgur](https://i.imgur.com/gqMIs85.jpg?2)

### Tidyverse
**Tools that work together to transform, analyze and visualize tidy data**

**Reshaping data using tidyr package**  
The tidyr package, provides 4 functions to help you change the layout of your data set:  
  
`separate()`: separate one column into multiple  
`unite()`: unite multiple columns into one    
`gather()`: gather (collapse) columns into rows  
`spread()`: spread rows into columns

In [3]:
data <- read.csv("data//players.csv")

In [7]:
library(tidyr)

Attaching package: 'tidyr'

The following object is masked from 'package:reshape2':

    smiths

In [8]:
head(data)

  First_Name Last_Name Age Home_Town
1 Ramesh     padala    28  Vidhyanagar,Hyderabad
2 Suresh     meruka    25  Kazipet, Warangal
3 Shankar    kedari    32  LIC Colony, Vijayawada

In [9]:
separate(data, Home_Town, c("city", "state"), sep=",")

  First_Name Last_Name Age city        state
1 Ramesh     padala    28  Vidhyanagar Hyderabad
2 Suresh     meruka    25  Kazipet      Warangal
3 Shankar    kedari    32  LIC Colony   Vijayawada

In [10]:
unite(data, "Name", c(First_Name, Last_Name), sep=" ")

  Name           Age Home_Town
1 Ramesh padala  28  Vidhyanagar,Hyderabad
2 Suresh meruka  25  Kazipet, Warangal
3 Shankar kedari 32  LIC Colony, Vijayawada

In [11]:
data1 <- read.csv("data//homeruns.csv")

In [12]:
head(data1)

  Player        x2015 x2014 x2013
1 Mike Trout    41    36    27
2 Bryce Harper  42    13    20
3 Jose Bautista 40    35    28

In [14]:
data3 <- gather(data1, year, home_runs,  x2015:x2013)

In [15]:
data3

  Player        year  home_runs
1 Mike Trout    x2015 41
2 Bryce Harper  x2015 42
3 Jose Bautista x2015 40
4 Mike Trout    x2014 36
5 Bryce Harper  x2014 13
6 Jose Bautista x2014 35
7 Mike Trout    x2013 27
8 Bryce Harper  x2013 20
9 Jose Bautista x2013 28

In [16]:
spread(data3, year, home_runs)

  Player        x2013 x2014 x2015
1 Bryce Harper  20    13    42
2 Jose Bautista 28    35    40
3 Mike Trout    27    36    41

## reshape2

![Imgur](https://i.imgur.com/AjpEZ8z.png?1)

https://rpubs.com/aaronsaunders/14391  
https://www.listendata.com/2016/01/transpose-data-in-r.html

## magrittr

**piping with %>%**

## dplyr

![Imgur](https://i.imgur.com/DNMxDWh.png?1)

https://www.rstudio.com/wp-content/uploads/2015/02/data-wrangling-cheatsheet.pdf  
https://ugoproto.github.io/ugo_r_doc/dplyr.pdf  
https://rpubs.com/bradleyboehmke/data_wrangling