<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Built-in-Functions" data-toc-modified-id="Built-in-Functions-1">Built-in Functions</a></span></li><li><span><a href="#User-Defined-Functions" data-toc-modified-id="User-Defined-Functions-2">User Defined Functions</a></span><ul class="toc-item"><li><span><a href="#Objects-&amp;-Functions" data-toc-modified-id="Objects-&amp;-Functions-2.1">Objects &amp; Functions</a></span></li><li><span><a href="#Default-Arguments" data-toc-modified-id="Default-Arguments-2.2">Default Arguments</a></span></li><li><span><a href="#Automatic-Returns" data-toc-modified-id="Automatic-Returns-2.3">Automatic Returns</a></span></li><li><span><a href="#Named-Arguments" data-toc-modified-id="Named-Arguments-2.4">Named Arguments</a></span></li><li><span><a href="#Functions-in-R-are" data-toc-modified-id="Functions-in-R-are-2.5">Functions in R are</a></span></li><li><span><a href="#Lazy-evaluation" data-toc-modified-id="Lazy-evaluation-2.6">Lazy evaluation</a></span></li><li><span><a href="#Lazy-evaluation-of-args" data-toc-modified-id="Lazy-evaluation-of-args-2.7">Lazy evaluation of args</a></span></li><li><span><a href="#Anonymous-(nameless)-functions-AND-named-functions" data-toc-modified-id="Anonymous-(nameless)-functions-AND-named-functions-2.8">Anonymous (nameless) functions AND named functions</a></span></li><li><span><a href="#Local-variable:-by-value" data-toc-modified-id="Local-variable:-by-value-2.9">Local variable: by value</a></span></li><li><span><a href="#Scope-of-Variables" data-toc-modified-id="Scope-of-Variables-2.10">Scope of Variables</a></span></li><li><span><a href="#global-assignment-of-variable-insind-a-function" data-toc-modified-id="global-assignment-of-variable-insind-a-function-2.11">global assignment of variable insind a function</a></span></li></ul></li><li><span><a href="#Best-way-to-use-functions" data-toc-modified-id="Best-way-to-use-functions-3">Best way to use functions</a></span></li><li><span><a href="#Apply-Family-of-Functions" data-toc-modified-id="Apply-Family-of-Functions-4">Apply Family of Functions</a></span><ul class="toc-item"><li><span><a href="#apply" data-toc-modified-id="apply-4.1">apply</a></span></li><li><span><a href="#lapply" data-toc-modified-id="lapply-4.2">lapply</a></span></li><li><span><a href="#saplly" data-toc-modified-id="saplly-4.3">saplly</a></span></li><li><span><a href="#taplly" data-toc-modified-id="taplly-4.4">taplly</a></span></li><li><span><a href="#aggregate" data-toc-modified-id="aggregate-4.5">aggregate</a></span></li><li><span><a href="#Difference-between-how-apply-and-sapply-handles-the-data" data-toc-modified-id="Difference-between-how-apply-and-sapply-handles-the-data-4.6">Difference between how apply and sapply handles the data</a></span></li><li><span><a href="#mapply" data-toc-modified-id="mapply-4.7">mapply</a></span></li><li><span><a href="#do.call" data-toc-modified-id="do.call-4.8">do.call</a></span></li><li><span><a href="#by" data-toc-modified-id="by-4.9">by</a></span></li></ul></li><li><span><a href="#Other-functions-(miscellaneous)" data-toc-modified-id="Other-functions-(miscellaneous)-5">Other functions (miscellaneous)</a></span><ul class="toc-item"><li><span><a href="#with()" data-toc-modified-id="with()-5.1"><code>with()</code></a></span></li><li><span><a href="#attach()" data-toc-modified-id="attach()-5.2"><code>attach()</code></a></span></li><li><span><a href="#library(ggplot2)-Vs-require(ggplot2)" data-toc-modified-id="library(ggplot2)-Vs-require(ggplot2)-5.3"><code>library(ggplot2)</code> Vs <code>require(ggplot2)</code></a></span></li><li><span><a href="#which()" data-toc-modified-id="which()-5.4"><code>which()</code></a></span></li><li><span><a href="#match()" data-toc-modified-id="match()-5.5"><code>match()</code></a></span></li><li><span><a href="#grep()" data-toc-modified-id="grep()-5.6"><code>grep()</code></a></span></li></ul></li></ul></div>

## Built-in Functions
used by the user to make their work easier. Eg: mean(x), sum(x) ,sqrt(x),toupper(x), etc.

| Function           | Description                                                                                                                 |
|--------------------|-----------------------------------------------------------------------------------------------------------------------------|
| abs(x)             | absolute value                                                                                                              |
| sqrt(x)            | square root                                                                                                                 |
| ceiling(x)         | ceiling(3.475) is 4                                                                                                         |
| trunc(x)           | trunc(5.99) is 5                                                                                                            |
| round(x, digits=n) | round(3.475, digits=2) is 3.48                                                                                              |
| log(x)             | natural logarithm                                                                                                           |
| log10(x)           | common logarithm                                                                                                            |
| exp(x)             | e^x                                                                                                                         |
| strsplit(x, split) | Split the elements of character vector x at split.strsplit("abc", "") returns 3 element vector "a","b","c"                  |
| paste(..., sep="") | paste("x",1:3,sep="") returns c("x1","x2" "x3")paste("x",1:3,sep="M") returns c("xM1","xM2" "xM3")paste("Today is", date()) |
| toupper(x)         | Uppercase                                                                                                                   |
| tolower(x)         | Lowercase                                                                                                                   |

[some useful functions per category](http://www.sr.bham.ac.uk/~ajrs/R/r-function_list.html#general)  
[goto **All Functions List** tab from Endmemo](http://www.endmemo.com/program/R/abs.php)  
[A short list of the most useful R commands](http://www.personality-project.org/r/r.commands.html)

## User Defined Functions

Sets of instructions that you want to use repeatedly, it is a piece of code written to carry out a specified task, these functions are created by the user to meet a specific requirement of the user.    

* Function Name 
* Arguments
* Function Body 
* Return Value

### Objects & Functions
**To understand in R two slogans are helpful:**
> 1. Everything that exists is an **object**
> 2. Everything that happens is a **function** call

**syntax**

```
function_name <–function(arg_1, arg_2, …) { 

//Function body 

}
```

**Example1:**

In [48]:
# the sum of the squares of 2 numbers
sum_of_squares <- function(x,y) {
x^2 + y^2
}

In [49]:
sum_of_squares(3,4)

[1] 25

**Example2:**

In [50]:
pow <- function(x, y) {
   # function to print x raised to the power y

   result <- x^y
   print(paste(x,"raised to the power", y, "is", result))
}

### Default Arguments

In [51]:
# Create a function with arguments.
new.function <- function(a = 3, b = 6) {
   result <- a * b
   print(result)
}

# Call the function without giving any argument.
new.function()

# Call the function with giving new values of the argument.
new.function(9,5)

[1] 18
[1] 45

In [52]:
# Define the function and specify the exponent, second argument directly
# Sets default of exponent to 2 (just square)
MyThirdFun <- function(n, y = 2) 
{
  # Compute the power of n to the y
  n^y  
}

# Specify both args
MyThirdFun(2,3) 

# Just specify the first arg
MyThirdFun(2)   

# Specify no argument: error!
# MyThirdFun()

[1] 8

[1] 4

### Automatic Returns
* In R, it is not necessary to include the return statement. R automatically returns whichever variable is on the last line of the body of the function.
* OR we can explicitly define the return statement.

In [53]:
add <- function(x,y=1,z=2){
    x+y
    x+z
}
add(5)

[1] 7

In [54]:
add <- function(x,y=1,z=2){
    x+y
    x+z
    return(x+y)
}
add(5)

[1] 6

In [55]:
fahr_to_kelvin <- function(temp) {
  kelvin <- ((temp - 32) * (5 / 9)) + 273.15
  return(kelvin)
}

In [56]:
# freezing point of water
fahr_to_kelvin(32)
# boiling point of water
fahr_to_kelvin(212)

[1] 273.15

[1] 373.15

### Named Arguments

In [57]:
pow <- function(x, y) {
   # function to print x raised to the power y

   result <- x^y
   print(paste(x,"raised to the power", y, "is", result))
}

In [58]:
# 8 raised to the power 2 is 64
pow(8, 2)
# 8 raised to the power 2 is 64
pow(x = 8, y = 2)
# 8 raised to the power 2 is 64
pow(y = 2, x = 8)

[1] "8 raised to the power 2 is 64"
[1] "8 raised to the power 2 is 64"
[1] "8 raised to the power 2 is 64"

### Functions in R are 
**first class objects**  
1. can be treated as much like any other objects
2. Can be passed as arguments to othre functions
3. Can be nested so that you can define a function in another function
4. Return value is the last expression in the function body

### Lazy evaluation

In [59]:
fun <- function(a,b){
    a^2
}
fun(2,x/0)

[1] 4

### Lazy evaluation of args

In [60]:
fun <- function(x){
    10
}
fun("hello")

[1] 10

### Anonymous (nameless) functions AND named functions

In [61]:
# Anonymous
(function(x) x*10)(5)

[1] 50

In [62]:
# named function define
named <- function(x) x*10
# calling a named function
    named(6)

[1] 60

### Local variable: by value

In [63]:
#### Local variable: by value

x <- 5 # global assignment of x is not used by the fun
fun <- function(x){
    #parameter x is passed by value (copy)
    x <- x+1 # local variable is modified
    print(x)
}

fun(1) # prints 
print(x) # print 5, since global x has not changed

[1] 2
[1] 5

### Scope of Variables
* Functions can accept arguments explicitly assigned to a variable name in in the function call `functionName(variable = value)`, as well as arguments by order:

In [64]:
input_1 = 20
mySum <- function(input_1, input_2 = 10) {
  output <- input_1 + input_2
  return(output)
}

In [65]:
mySum(input_1 = 1, 3)

[1] 4

In [66]:
mySum(3)

[1] 13

In [67]:
# mySum(input_2 = 3)

### global assignment of variable insind a function

In [68]:
x <- 10
mySum <- function(input_1a=input_1, input_2=x) { # using input_1 here by declarig global assignment latter
input_1 <<-25 # var assigned inside the function for global access purpose  
  output <- input_1 + input_2
  return(output)
}
mySum(input_1)

[1] 35

## Best way to use functions

In [1]:
args(sample)
## function (x, size, replace = FALSE, prob = NULL)
## NULL

function (x, size, replace = FALSE, prob = NULL)
NULL

The terms x, size, replace, and prob are the function arguments.   
<font color="red">First,</font> notice that <font color="red">replace and prob have default values;</font> that is, we do not need to specify these arguments unless we want to override the default values. 
<font color="red">Second,</font> notice the order of the arguments. <font color="red">If you enter the argument values in the same order as the argument</font> list we do not need to specify the argument.

In [6]:
dates <- 1:30
sample(dates, 16) # sample "size = 16"
## [1] 28 23 29 16 4 13 14 10 5 20 18 26 22 12 30 11

 [1] 30  3 29 17 16  8 28 24 15  1 23 19  7 14 25 21

<font color="red">Third,</font> if we enter the arguments <font color="red">out of order then we will get either an error message or an undesired result.</font>
Arguments entered out of their default order need to be specified.

`sample(16, dates) # undesired results; wanted "size = 16"`
```{r}
Error in sample.int(x, size, replace, prob): object 'dates' not found
Traceback:

1. sample(16, dates)
2. sample.int(x, size, replace, prob)
```

In [7]:
sample(size = 16, x = dates) # gives desired result
## [1] 9 28 17 8 21 18 5 14 24 27 16 25 2 6 30 4

 [1] 14 23  3  7 22 19  8 30 12  1  5 27 25  4 24 16

<font color="red">Fourth,</font> when we specify an argument we only need to type a <font color="red">sufficient number of letters</font> so that R can uniquely identify it from the other arguments.

In [8]:
sample(s = 16, x = dates, r = TRUE) # sampling w/ replacement
## [1] 25 19 28 8 6 12 26 2 26 12 21 16 17 4 7 13

 [1] 24 17  4 17 21  5 29 18  9 17  2 21  2  2 12  7

<font color="red">Fifth,</font> argument values can be any <font color="red">valid R expression (including functions) that evaluates to an appropriate value.</font>  In the following example we see two sample functions that provide random values to the sample
function arguments.<

In [ ]:
sample(s = sample(1:36, 1), x = sample(1:10, 5), r=T)
## [1] 3 1 2 1 1 2 3 1 3 4 4 2 1 1 4 4 1 8 4 4 4 2 1 3 2 3 8 1 2 3

## Apply Family of Functions

In [1]:
mtcarsFive <- mtcars[1:5,] #let's take 5 obserations from mtcars for illustration

In [2]:
mtcarsFive

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2

* what if you want to max value from each column ,mpg, cyl, disp ....etc

In [3]:
# one method
max(mtcarsFive[,1])
max(mtcarsFive[,2])
max(mtcarsFive[,3])
max(mtcarsFive[,4])
max(mtcarsFive[,5])
#...etc

[1] 22.8

[1] 8

[1] 360

[1] 175

[1] 3.9

In [5]:
# another method
for (i in 1:ncol(mtcarsFive))
    {
    col <- mtcarsFive[,i]
    max <- max(col)
    print(max)
}

[1] 22.8
[1] 8
[1] 360
[1] 175
[1] 3.9
[1] 3.44
[1] 19.44
[1] 1
[1] 1
[1] 4
[1] 4

In [6]:
length(mtcarsFive)

[1] 11

In [1]:
load("data//sales.RData")

In [2]:
class(sales)

[1] "data.frame"

In [3]:
head(sales)

  ID Prod Quant Val   Insp
1 v1 p1     182  1665 unkn
2 v2 p1    3072  8780 unkn
3 v3 p1   20393 76990 unkn
4 v4 p1     112  1100 unkn
5 v3 p1    6164 20260 unkn
6 v5 p2     104  1155 unkn


* **apply** - apply over the margins of an array (e.g. the rows or columns of a matrix)
* **lapply** - apply a function to each element of a list in turn and get a list back.
* **sapply** - apply a function to each element of a list and get a simplified object like vector back, rather than a list.
* **tapply** - apply a function to subsets of a vector and the subsets are defined by some other vector, usually a factor.
* **mapply** - apply a function to the 1st elements of each, and then the 2nd elements of each, etc

![Imgur](https://i.imgur.com/VS2Brbn.png)

In [69]:
set.seed(111)
m <- matrix(data=cbind(rnorm(30, 0), rnorm(30, 2), rnorm(30, 5)), nrow=30, ncol=3)
m

      [,1]        [,2]       [,3]
 [1,]  0.23522071 -1.1132173 4.783571
 [2,] -0.33073587  1.0586426 6.446478
 [3,] -0.31162382  3.4002588 5.409710
 [4,] -2.30234566  0.3795300 5.910917
 [5,] -0.17087604 -0.2659960 6.430358
 [6,]  0.14027823  3.1629936 4.618708
 [7,] -1.49742666  1.8838450 5.202307
 [8,] -1.01018842  2.3342560 4.193801
 [9,] -0.94847560  1.3791419 5.294634
[10,] -0.49396222  0.6901551 6.404883
[11,] -0.17367413  0.8242740 6.023767
[12,] -0.40659878  0.8787845 5.476126
[13,]  1.84563626  0.6380955 4.329670
[14,]  0.39405411  2.4811246 5.159234
[15,]  0.79752850  2.7419716 4.617285
[16,] -1.56666536  2.0278246 5.935763
[17,] -0.08585101  2.3313797 4.368468
[18,] -0.35913948  2.6441141 4.901694
[19,] -1.19360897  4.4856616 6.031985
[20,]  0.36418674  3.9599817 5.387808
[21,]  0.36166245  2.1916634 3.743871
[22,]  0.34696437  3.5525443 4.213047
[23,]  0.18973653  2.9142423 5.429812
[24,] -0.15957681  2.3586254 4.623584
[25,]  0.32654924  2.1750956 3.783771
[26,]  0.59825420  1.1527322 6.029279
[27,] -1.84153430  2.9782317 5.430397
[28,]  2.71805560  3.8058683 3.754426
[29,]  0.19124439  2.1229148 4.397272
[30,] -1.30129607  1.8702280 5.660069

### apply
* When you want to apply a function to the rows or columns of a matrix (and higherdimensional analogues); 
* not generally advisable for data frames as it will coerce to a matrix first

In [70]:
# traverse row wise
apply(m, 1, mean)

 [1] 1.301858 2.391462 2.832782 1.329367 1.997829 2.640660 1.862908 1.839289
 [9] 1.908433 2.200359 2.224789 1.982771 2.271134 2.678138 2.718928 2.132307
[17] 2.204665 2.395556 3.108013 3.237326 2.099066 2.704185 2.844597 2.274211
[25] 2.095139 2.593422 2.189031 3.426117 2.237144 2.076334

In [71]:
# traverse column wise
# using Our own functions (udf)
apply(m, 2, function(x) length(x[x<0]))

[1] 17  2  0

### lapply
* When you want to apply a function to each element of a list/vector in turn and get a list back

In [72]:
lapply(1:3, function(x) x^2)

[[1]]
[1] 1

[[2]]
[1] 4

[[3]]
[1] 9

In [73]:
# you can use unlist with lapply to get a vector
unlist(lapply(1:3, function(x) x^2))

[1] 1 4 9

In [74]:
#simplify2array and sapply
simplify2array(lapply(1:3, function(x) x^2))

[1] 1 4 9

In [8]:
# create another list
CAGO.list <- list(Diet1 = c(2,5,4,3,5,3), Diet2 =c(8,5,6,5,7,7), Diet3 =c(3,4,2,5,2,6) , Diet4 = c(2,2,3,2,5,2))

In [13]:
CAGO.list

$Diet1
[1] 2 5 4 3 5 3

$Diet2
[1] 8 5 6 5 7 7

$Diet3
[1] 3 4 2 5 2 6

$Diet4
[1] 2 2 3 2 5 2

In [9]:
lapply(CAGO.list, mean)

$Diet1
[1] 3.666667

$Diet2
[1] 6.333333

$Diet3
[1] 3.666667

$Diet4
[1] 2.666667

* convert list to **data frame** and check whether `lapply()` is working for data frames or not

In [10]:
CAGO.df <- as.data.frame(CAGO.list)

In [12]:
CAGO.df

  Diet1 Diet2 Diet3 Diet4
1 2     8     3     2
2 5     5     4     2
3 4     6     2     3
4 3     5     5     2
5 5     7     2     5
6 3     7     6     2

In [11]:
lapply(CAGO.df, mean) # without specifying margins it calculate as column wise

$Diet1
[1] 3.666667

$Diet2
[1] 6.333333

$Diet3
[1] 3.666667

$Diet4
[1] 2.666667

* We can apply on **vector** as well using `lappply()`

In [14]:
Random <- c("This", "Is", "a", "Random", "Vector")

In [15]:
lapply(Random,nchar)

[[1]]
[1] 4

[[2]]
[1] 2

[[3]]
[1] 1

[[4]]
[1] 6

[[5]]
[1] 6

In [16]:
lapply(Random,toupper)

[[1]]
[1] "THIS"

[[2]]
[1] "IS"

[[3]]
[1] "A"

[[4]]
[1] "RANDOM"

[[5]]
[1] "VECTOR"

### saplly
* When you want to apply a function to each element of a list in turn, but you want avector back, rather than a list

In [75]:
sapply(1:3, function(x) x^2)

[1] 1 4 9

In [76]:
print(sapply(1:3, function(x) x^2,simplify = FALSE))

[[1]]
[1] 1

[[2]]
[1] 4

[[3]]
[1] 9

* apply `sapply()` on `CAGO.list` and `CAGO.df`

In [19]:
print(sapply(CAGO.list, mean)) # output as a vector

   Diet1    Diet2    Diet3    Diet4
3.666667 6.333333 3.666667 2.666667

In [20]:
print(sapply(CAGO.df, mean)) # output as a vector

   Diet1    Diet2    Diet3    Diet4
3.666667 6.333333 3.666667 2.666667

In [21]:
print(sapply(Random, nchar)) # displayed each element name as heading

  This     Is      a Random Vector
     4      2      1      6      6

* **using user defiend functions**

In [25]:
seqchar <- function(x){
    seq(nchar(x))
}

In [27]:
print(sapply(Random, seqchar))

$This
[1] 1 2 3 4

$Is
[1] 1 2

$a
[1] 1

$Random
[1] 1 2 3 4 5 6

$Vector
[1] 1 2 3 4 5 6

### taplly

In [77]:
print(tapply(mtcars$wt,mtcars$cyl,mean))

       4        6        8
2.285727 3.117143 3.999214

In [78]:
print(tapply(iris$Sepal.Length,iris$Species,mean))

    setosa versicolor  virginica
     5.006      5.936      6.588

In [79]:
print(tapply(iris$Sepal.Length,iris$Species,mean))

    setosa versicolor  virginica
     5.006      5.936      6.588

In [80]:
# Without simplification, tapply always returns a list.
tapply(iris$Sepal.Length,iris$Species,mean, simplify = FALSE)

$setosa
[1] 5.006

$versicolor
[1] 5.936

$virginica
[1] 6.588

In [81]:
# split function splits a vector into groups using a factor.Using split 
# and then applying a function with lapply produces the same result as tapply
lapply(split(iris$Sepal.Length,iris$Species), mean) # Instead of tapply

$setosa
[1] 5.006

$versicolor
[1] 5.936

$virginica
[1] 6.588

### aggregate
* The aggregate function splits the data into subsets and computes summary statistics for each of them. 
* The output of aggregate is a data.frame, including a column for species.
* We can go above and beyon what `tapply()` can do

In [82]:
# ?tapply
# ?aggregate

In [83]:
iris.x <- subset(iris, select= -Species) # subsetting without Species
iris.s <- subset(iris, select= Species) # subsetting only Species
aggregate(iris.x, iris.s, mean)

  Species    Sepal.Length Sepal.Width Petal.Length Petal.Width
1 setosa     5.006        3.428       1.462        0.246
2 versicolor 5.936        2.770       4.260        1.326
3 virginica  6.588        2.974       5.552        2.026

In [84]:
aggregate(x = mtcars, by = list(mtcars$carb), FUN = median)

  Group.1 mpg   cyl disp   hp  drat  wt    qsec   vs  am gear carb
1 1       22.80 4   108.00  93 3.850 2.320 19.470 1.0 1  4.0  1
2 2       22.10 4   143.75 111 3.730 3.170 17.175 0.5 0  4.0  2
3 3       16.40 8   275.80 180 3.070 3.780 17.600 0.0 0  3.0  3
4 4       15.25 8   350.50 210 3.815 3.505 17.220 0.0 0  3.5  4
5 6       19.70 6   145.00 175 3.620 2.770 15.500 0.0 1  5.0  6
6 8       15.00 8   301.00 335 3.540 3.570 14.600 0.0 1  5.0  8

In [85]:
## example with character variables and NAs
testDF <- data.frame(v1 = c(1,3,5,7,8,3,5,NA,4,5,7,9),
                     v2 = c(11,33,55,77,88,33,55,NA,44,55,77,99) )
by1 <- c("red", "blue", 1, 2, NA, "big", 1, 2, "red", 1, NA, 12)
by2 <- c("wet", "dry", 99, 95, NA, "damp", 95, 99, "red", 99, NA, NA)
aggregate(x = testDF, by = list(by1, by2), FUN = "mean")

  Group.1 Group.2 v1 v2
1 1       95       5 55
2 2       95       7 77
3 1       99       5 55
4 2       99      NA NA
5 big     damp     3 33
6 blue    dry      3 33
7 red     red      4 44
8 red     wet      1 11

In [86]:
## Formulas, one ~ one, one ~ many, many ~ one, and many ~ many:
aggregate(weight ~ feed, data = chickwts, mean)
aggregate(breaks ~ wool + tension, data = warpbreaks, mean)
aggregate(cbind(Ozone, Temp) ~ Month, data = airquality, mean)
aggregate(cbind(ncases, ncontrols) ~ alcgp + tobgp, data = esoph, sum)

## Dot notation:
aggregate(. ~ Species, data = iris, mean)
aggregate(len ~ ., data = ToothGrowth, mean)

  feed      weight
1 casein    323.5833
2 horsebean 160.2000
3 linseed   218.7500
4 meatmeal  276.9091
5 soybean   246.4286
6 sunflower 328.9167

  wool tension breaks
1 A    L       44.55556
2 B    L       28.22222
3 A    M       24.00000
4 B    M       28.77778
5 A    H       24.55556
6 B    H       18.77778

  Month Ozone    Temp
1 5     23.61538 66.73077
2 6     29.44444 78.22222
3 7     59.11538 83.88462
4 8     59.96154 83.96154
5 9     31.44828 76.89655

   alcgp     tobgp    ncases ncontrols
1  0-39g/day 0-9g/day  9     261
2  40-79     0-9g/day 34     179
3  80-119    0-9g/day 19      61
4  120+      0-9g/day 16      24
5  0-39g/day 10-19    10      84
6  40-79     10-19    17      85
7  80-119    10-19    19      49
8  120+      10-19    12      18
9  0-39g/day 20-29     5      42
10 40-79     20-29    15      62
11 80-119    20-29     6      16
12 120+      20-29     7      12
13 0-39g/day 30+       5      28
14 40-79     30+       9      29
15 80-119    30+       7      12
16 120+      30+      10      13

  Species    Sepal.Length Sepal.Width Petal.Length Petal.Width
1 setosa     5.006        3.428       1.462        0.246
2 versicolor 5.936        2.770       4.260        1.326
3 virginica  6.588        2.974       5.552        2.026

  supp dose len
1 OJ   0.5  13.23
2 VC   0.5   7.98
3 OJ   1.0  22.70
4 VC   1.0  16.77
5 OJ   2.0  26.06
6 VC   2.0  26.14

### Difference between how apply and sapply handles the data

In [87]:
df <- data.frame(ingr=c("2L",6L, 7L),fctr=c(TRUE,FALSE,TRUE))

In [95]:
apply(df,2,class)
sapply(df,class)

       ingr        fctr
"character" "character"

     ingr      fctr
 "factor" "logical"

### mapply
* Multivariate version of sapply
* It applies FUN to the first elements of each (…) argument,  the second elements, the third elements, and so on.
* Note that the **first argument of mapply() here is the name of a function**
* advisable when you have several data structures (e.g. vectors, lists) and you want to apply a function over elements

In [89]:
l1 <- list(a = c(1:10), b = c(11:20))
l2 <- list(c = c(21:30), d = c(31:40))
# sum the corresponding elements of l1 and l2
print(mapply(sum, l1$a, l1$b, l2$c, l2$d))

 [1]  64  68  72  76  80  84  88  92  96 100

In [90]:
print(mapply(sum, l1))
#sum(c(1:10))

  a   b
 55 155

In [91]:
print(mapply(sum, l1,l2))
#sum(c(1:10),c(21:30))

  a   b
310 510

In [92]:
print(mapply(sum, l1$a, l1$b))

 [1] 12 14 16 18 20 22 24 26 28 30

In [93]:
print(mapply(sum, l1$a, l1$b, l2$c, l2$d))

 [1]  64  68  72  76  80  84  88  92  96 100

In [94]:
# Map - A wrapper to mapply with SIMPLIFY = FALSE, so it is guaranteed to return a list
print(Map(sum, l1$a, l1$b, l2$c, l2$d))

[[1]]
[1] 64

[[2]]
[1] 68

[[3]]
[1] 72

[[4]]
[1] 76

[[5]]
[1] 80

[[6]]
[1] 84

[[7]]
[1] 88

[[8]]
[1] 92

[[9]]
[1] 96

[[10]]
[1] 100

### do.call

* Execute a Function Call
* Calls and applies a function to the a list of arguments to be passed to it
* do.call function applies a function to the entire list using each component as an argument.

**Examples:**

In [2]:
x <- list(1:5, 6:10); 
print(x)

[[1]]
[1] 1 2 3 4 5

[[2]]
[1]  6  7  8  9 10

In [4]:
print(do.call(rbind, x))

     [,1] [,2] [,3] [,4] [,5]
[1,]    1    2    3    4    5
[2,]    6    7    8    9   10

In [8]:
mylist <- list(vec1 = 1:5, vec2 = 6:10, vec3 = 11:15)
print(mylist)

$vec1
[1] 1 2 3 4 5

$vec2
[1]  6  7  8  9 10

$vec3
[1] 11 12 13 14 15

In [9]:
cbind(mylist)  # will not work

     mylist
vec1 1, 2, 3, 4, 5
vec2 6, 7, 8, 9, 10
vec3 11, 12, 13, 14, 15

In [6]:
do.call(cbind, mylist) # works

     vec1 vec2 vec3
[1,] 1     6   11
[2,] 2     7   12
[3,] 3     8   13
[4,] 4     9   14
[5,] 5    10   15

### by

* applys a function to each level of a factor or factors
* split your data by factors and do calculations on each subset
* similar to group by function in SQL, applied to factors, where in we may apply operations on individual results set.

In [7]:
# we apply colMeans() function to all the observations on iris dataset grouped by Species.
b <- by(iris[, 1:4], iris$Species, colMeans)  # exclude the last column since it contains factor (categories which we need to find)
b

iris$Species: setosa
Sepal.Length  Sepal.Width Petal.Length  Petal.Width
       5.006        3.428        1.462        0.246
------------------------------------------------------------
iris$Species: versicolor
Sepal.Length  Sepal.Width Petal.Length  Petal.Width
       5.936        2.770        4.260        1.326
------------------------------------------------------------
iris$Species: virginica
Sepal.Length  Sepal.Width Petal.Length  Petal.Width
       6.588        2.974        5.552        2.026

## Other functions (miscellaneous)

### `with()`

* applys an expression to a dataset 
* to avoid $ (dollar) symbol  
**syntax:** `with(data, expression)`

In [3]:
with(mtcars, mpg[cyl == 8  &  disp > 350])
    # is the same as, but nicer than
mtcars$mpg[mtcars$cyl == 8  &  mtcars$disp > 350]

[1] 18.7 14.3 10.4 10.4 14.7 19.2 15.8

[1] 18.7 14.3 10.4 10.4 14.7 19.2 15.8

### `attach()`

* Use the names like “x" instead of “mydata$x".
* The attach function allows you to use short names to refer to variables in a data frame
* Use of attach() likewise extends the search list. 
* This function can be used to attach data frames or lists (use the name, without quotes) or image (.RData) files (the file name is placed in quotes
* use `detach()` function  to reverses the process

In [4]:
x <- data.frame(Subtype= c("A","A","B","A","B","B","A","B","A","B"), 
               Gender= rep(c("m","f"),each=5), 
               Expression = c(-0.54,-0.8,-1.03,-0.41,-1.31,-0.66,-0.43,1.01,-1.15,0.14))

In [5]:
# There are 3 variables, "Expression", "Gender" and "Subtype". We can display the variables by:
x$Expression
print(x$Gender)

 [1] -0.54 -0.80 -1.03 -0.41 -1.31 -0.66 -0.43  1.01 -1.15  0.14

 [1] m m m m m f f f f f
Levels: f m

* After attach the object "x", "Expression" or "Gender" can be used globally:

In [6]:
attach(x)

In [7]:
Expression # no need of use $ symbol here

 [1] -0.54 -0.80 -1.03 -0.41 -1.31 -0.66 -0.43  1.01 -1.15  0.14

In [8]:
Gender

 [1] m m m m m f f f f f
Levels: f m

* `detach()` function reverses the process:

In [9]:
detach(x)

`Gender`

In [10]:
# Error in eval(expr, envir, enclos): object 'Gender' not found
# Traceback:

In [11]:
x$Gender

 [1] m m m m m f f f f f
Levels: f m

* Use `detach()` function to unload the package from the current session 
* opposite of `library()`)

In [ ]:
### note ### before run this first use install.packages("cowsay")  and library(cowsay) to install and load the package
detach("package:cowsay") # unload the package named cowsay from the current session

### `library(ggplot2)` Vs `require(ggplot2)`

* require is to use in the body of a function , which will display a warning message if the package does not exist but will continue its execution, whereas library will throw an error and stops execution there itself
* Unlike library, require returns a logical value. That is, it returns (invisibly) TRUE if the package is available, and FALSE if the package is not.


`if (!require(package)) 
install.packages('package')
library(package)`

`# will install “package” if it doesn’t exist, and then load it.`

OR

`if(!require(DescTools)){install.packages("DescTools")}`

* if you look at the source code, you can see that require calls library
* This suggests that it is more efficient to use library

### `which()`

* Which indices are TRUE?
* which positions meet condition

In [17]:
which(LETTERS == "R")
which(LETTERS == "J")

[1] 18

[1] 10

In [18]:
which((1:12)%%2 == 0) # which are even?

[1]  2  4  6  8 10 12

In [21]:
which(10:20 %% 3 ==0, arr.ind = TRUE)

[1] 3 6 9

In [6]:
mtcars[which(mtcars$mpg <= 18),]
# OR
mtcars[mtcars$mpg <= 18,]

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8

### `match()`

In [ ]:
* match(a,b) looks for matches of a in b and returns indices of the matches

In [2]:
a <- c("a","e","i","o","u")
b <- letters

In [6]:
match(a,b)
# %in% operator gives a logical vector
a %in% b

[1]  1  5  9 15 21

[1] TRUE TRUE TRUE TRUE TRUE

In [9]:
a <- c("a","#","i","@","u")
b <- letters

In [10]:
match(a,b) # if the matched value not present then returns NA
# %in% operator gives a logical vector
a %in% b

[1]  1 NA  9 NA 21

[1]  TRUE FALSE  TRUE FALSE  TRUE

### `grep()`

* Matching character strings
* grep implements character string matching:

In [12]:
fields <- c("Age", "DateOnset", "Sex", "Admission.date", "dateofdeath", "Country")
grep("date", fields, ignore.case=TRUE)
grep("date", fields, ignore.case=TRUE, value=TRUE)

[1] 2 4 5

[1] "DateOnset"      "Admission.date" "dateofdeath"