## lubridate

https://rpubs.com/davoodastaraky/lubridate

## stringr

http://edrub.in/CheatSheets/cheatSheetStringr.pdf

## sqldf

http://dept.stat.lsa.umich.edu/~jerrick/courses/stat701/notes/sql.html

## Working with categorical data: gmodels

In [1]:
data <- data.frame(Smoker=c(72L,34L),Non_Smoker=c(44L,53L),row.names = c("Male","Female"))
dataM <- as.matrix(data)

In [2]:
print(dataM)

       Smoker Non_Smoker
Male       72         44
Female     34         53

In [3]:
### calculate sum of table entries Using base functions

In [3]:
margin.table(dataM) # total members (marginal distribution)

[1] 203

In [8]:
print(margin.table(dataM, 1)) # row-wise summary total male and total females
print(margin.table(dataM, 2)) # column-wise summary total Smokers and total Non-Smokers

  Male Female
   116     87
    Smoker Non_Smoker
       106         97

In [16]:
addmargins(dataM) #adding marginal distribution summaries

       Smoker Non_Smoker Sum
Male    72    44         116
Female  34    53          87
Sum    106    97         203

In [20]:
ftable(dataM)

        Smoker Non_Smoker

Male        72         44
Female      34         53

In [19]:
ftable(addmargins(dataM))

        Smoker Non_Smoker Sum

Male        72         44 116
Female      34         53  87
Sum        106         97 203

In [25]:
prop.table(table(dataM)) # this is better for single variable rather than two-way tables

dataM
  34   44   53   72
0.25 0.25 0.25 0.25

In [21]:
prop.table(dataM, 1)

       Smoker    Non_Smoker
Male   0.6206897 0.3793103
Female 0.3908046 0.6091954

In [23]:
prop.table(dataM, 2)

       Smoker    Non_Smoker
Male   0.6792453 0.4536082
Female 0.3207547 0.5463918

In [22]:
prop.table(dataM)

       Smoker    Non_Smoker
Male   0.3546798 0.2167488
Female 0.1674877 0.2610837

In [14]:
#install.packages("gmodels")
library(gmodels)

In [15]:
CrossTable(dataM) # total contingency table using CrossTable function from gmodels package

   Cell Contents
|-------------------------|
|                       N |
| Chi-square contribution |
|           N / Row Total |
|           N / Col Total |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  203


             |
             |     Smoker | Non_Smoker |  Row Total |
-------------|------------|------------|------------|
        Male |         72 |         44 |        116 |
             |      2.156 |      2.356 |            |
             |      0.621 |      0.379 |      0.571 |
             |      0.679 |      0.454 |            |
             |      0.355 |      0.217 |            |
-------------|------------|------------|------------|
      Female |         34 |         53 |         87 |
             |      2.875 |      3.142 |            |
             |      0.391 |      0.609 |      0.429 |
             |      0.321 |      0.546 |            |
             |      0.167 |      0.261 |            |
-------------|------------|------------|------------|
Column Total |        106 |         97 |        203 |
             |      0.522 |      0.478 |            |
-------------|------------|------------|------------|

## data.table

https://s3.amazonaws.com/assets.datacamp.com/img/blog/data+table+cheat+sheet.pdf

## Tidy Data

* Each variable in the data set is placed in its own column  
* Each observation is placed in its own row  
* Each value is placed in its own cell  
  
Hadley Wickham's journal of statistical software paper:  
https://vita.had.co.nz/papers/tidy-data.pdf

![Imgur](https://i.imgur.com/gqMIs85.jpg?2)

## Tidyverse
**Tools that work together to transform, analyze and visualize tidy data**   
https://www.tidyverse.org

## tidyr

**Reshaping data using tidyr package**  
The tidyr package, provides 4 functions to help you change the layout of your data set:  
  
`separate()`: separate one column into multiple  
`unite()`: unite multiple columns into one    
`gather()`: gather (collapse) columns into rows  
`spread()`: spread rows into columns

In [3]:
data <- read.csv("data//players.csv")

In [7]:
library(tidyr)

Attaching package: 'tidyr'

The following object is masked from 'package:reshape2':

    smiths

In [8]:
head(data)

  First_Name Last_Name Age Home_Town
1 Ramesh     padala    28  Vidhyanagar,Hyderabad
2 Suresh     meruka    25  Kazipet, Warangal
3 Shankar    kedari    32  LIC Colony, Vijayawada

In [9]:
separate(data, Home_Town, c("city", "state"), sep=",")

  First_Name Last_Name Age city        state
1 Ramesh     padala    28  Vidhyanagar Hyderabad
2 Suresh     meruka    25  Kazipet      Warangal
3 Shankar    kedari    32  LIC Colony   Vijayawada

In [10]:
unite(data, "Name", c(First_Name, Last_Name), sep=" ")

  Name           Age Home_Town
1 Ramesh padala  28  Vidhyanagar,Hyderabad
2 Suresh meruka  25  Kazipet, Warangal
3 Shankar kedari 32  LIC Colony, Vijayawada

In [11]:
data1 <- read.csv("data//homeruns.csv")

In [12]:
head(data1)

  Player        x2015 x2014 x2013
1 Mike Trout    41    36    27
2 Bryce Harper  42    13    20
3 Jose Bautista 40    35    28

In [14]:
data3 <- gather(data1, year, home_runs,  x2015:x2013)

In [15]:
data3

  Player        year  home_runs
1 Mike Trout    x2015 41
2 Bryce Harper  x2015 42
3 Jose Bautista x2015 40
4 Mike Trout    x2014 36
5 Bryce Harper  x2014 13
6 Jose Bautista x2014 35
7 Mike Trout    x2013 27
8 Bryce Harper  x2013 20
9 Jose Bautista x2013 28

In [16]:
spread(data3, year, home_runs)

  Player        x2013 x2014 x2015
1 Bryce Harper  20    13    42
2 Jose Bautista 28    35    40
3 Mike Trout    27    36    41

## reshape2

![Imgur](https://i.imgur.com/AjpEZ8z.png?1)

https://rpubs.com/aaronsaunders/14391  
https://www.listendata.com/2016/01/transpose-data-in-r.html

## Piping with `%>%` from `magrittr` package

## dplyr

![Imgur](https://i.imgur.com/DNMxDWh.png?1)

## working with fivethirtyeight data

http://www.storybench.org/getting-started-with-tidyverse-in-r/  
http://www.storybench.org/how-to-explore-a-dataset-from-the-fivethirtyeight-package-in-r/

<span style="color:red; font-family:Comic Sans MS">References</span>  
<a href="https://tbrieder.org/epidata/course_reading/e_aragon.pdf" target="_blank">https://tbrieder.org/epidata/course_reading/e_aragon.pdf</a>

<span style="color:red; font-family:brandon">Further  Resources</span>  
<a href="https://www.rstudio.com/wp-content/uploads/2015/02/data-wrangling-cheatsheet.pdf"   target="_blank">https://www.rstudio.com/wp-content/uploads/2015/02/data-wrangling-cheatsheet.pdf</a>    
<a href="https://ugoproto.github.io/ugo_r_doc/dplyr.pdf" target="_blank">https://ugoproto.github.io/ugo_r_doc/dplyr.pdf</a>  
<a href="https://rpubs.com/bradleyboehmke/data_wrangling" target="_blank">https://rpubs.com/bradleyboehmke/data_wrangling</a>