<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Data-Importing" data-toc-modified-id="Data-Importing-1">Data Importing</a></span><ul class="toc-item"><li><span><a href="#Using-command-line,-text-editor-and-point-and-click-features" data-toc-modified-id="Using-command-line,-text-editor-and-point-and-click-features-1.1">Using command line, text editor and point and click features</a></span><ul class="toc-item"><li><span><a href="#Using-command-line" data-toc-modified-id="Using-command-line-1.1.1">Using command line</a></span></li><li><span><a href="#Using-interacive-text-editor/graphical-interface" data-toc-modified-id="Using-interacive-text-editor/graphical-interface-1.1.2">Using interacive text editor/graphical interface</a></span></li><li><span><a href="#Using-point-and-click" data-toc-modified-id="Using-point-and-click-1.1.3">Using point and click</a></span></li></ul></li><li><span><a href="#Reading-Tabular-like-Data-From-TXT|CSV-Files:-R-Base-Functions" data-toc-modified-id="Reading-Tabular-like-Data-From-TXT|CSV-Files:-R-Base-Functions-1.2">Reading Tabular like Data From TXT|CSV Files: R Base Functions</a></span><ul class="toc-item"><li><span><a href="#using-clipboard" data-toc-modified-id="using-clipboard-1.2.1">using clipboard</a></span></li><li><span><a href="#using-file.choose()" data-toc-modified-id="using-file.choose()-1.2.2">using file.choose()</a></span></li><li><span><a href="#Using-read.table" data-toc-modified-id="Using-read.table-1.2.3">Using read.table</a></span></li><li><span><a href="#Using-read.csv()" data-toc-modified-id="Using-read.csv()-1.2.4">Using read.csv()</a></span></li><li><span><a href="#Using-read.csv2()" data-toc-modified-id="Using-read.csv2()-1.2.5">Using read.csv2()</a></span></li><li><span><a href="#Using-read.delim()" data-toc-modified-id="Using-read.delim()-1.2.6">Using read.delim()</a></span></li><li><span><a href="#Using-read.delim2()" data-toc-modified-id="Using-read.delim2()-1.2.7">Using read.delim2()</a></span></li><li><span><a href="#Using-read.fwf()-for-Fixed-width-files" data-toc-modified-id="Using-read.fwf()-for-Fixed-width-files-1.2.8">Using read.fwf() for Fixed-width files</a></span></li></ul></li></ul></li><li><span><a href="#readr-package" data-toc-modified-id="readr-package-2">readr package</a></span></li><li><span><a href="#Data-Exporting" data-toc-modified-id="Data-Exporting-3">Data Exporting</a></span></li></ul></div>

# Data Importing

* **Using command line, text editor and point and click features**

* **Reading Data From TXT|CSV Files: R Base Functions**

## Using command line, text editor and point and click features

### Using command line
* reading keyboard input from the command line 
* reading data from a file
* using `scan` and `data.entry` commands

In [63]:
# simmply assign a variable using the scan command with no arguments If you enter
# a blank line (just hit the Enter key)
x <- scan()
# 1: 28.8 2: 27.3 3: 45.8 4: 34.8 5: 23.5 6: Read 5 items

x
# [1] 28.8 27.3 45.8 34.8 23.5

numeric(0)

In [64]:
# If you provide a filename, then the scan command will read the values from the
# file Suppose that we have a file called diameters.csv
y <- scan("data/diameters.csv")
y

[1] 28.8 27.3 45.8 34.8 25.3

In [65]:
# You can read more complex data from a file using the scan command, but you must
# specify the structure of the file. This means that you have to specify the data
# types. Here, assume that we have a data file called trees.csv:

x <- scan("data/trees.csv", what = list("character", "double"), sep = ",")
# The first column is the character data, and the second column is the numeric
# data.
print(x)
# [[1]] [1] 'pine' 'pine' 'oak' 'pine' 'oak'

# [[2]] [1] '28.8' '27.3' '45.8' '34.8' '25.3'

[[1]]
[1] "pine" "pine" "oak"  "pine" "oak"

[[2]]
[1] "28.8" "27.3" "45.8" "34.8" "25.3"

### Using interacive text editor/graphical interface

In [66]:
# Another method for entering data is to use the data.entry command. The command
# will open up a graphical interface x<- data.entry(1, 8, 4, 8, 9, 15,16)

**using edit() or fix() function to edit the dataframe dynamically using interactive spreadsheet model **

```
# not work in jupyter R-kernel
elements <- data.frame()
elements <- edit(elements) # Jupyter R kernel not supported this feature
elements <- fix(elements) 
# edit() function displays the output result after edited but fix() function only saves results but not printed to the console 
```

### Using point and click

<a href="https://imgur.com/qjxNKC5"><img src="https://i.imgur.com/qjxNKC5.gif" title="source: imgur.com" /></a>

**Load csv, xls, xlsx, sav, dta, por, sas and stata files by point and click features**  
**Other similar features included:** https://support.rstudio.com/hc/en-us/articles/218611977-Importing-Data-with-RStudio?mobile_site=true

## Reading Tabular like Data From TXT|CSV Files: R Base Functions

```
* header
* sep
* stringsAsFactors
* row.names
* na.strings
* nrows
* skip
```

**Comparison**  
![Imgur](https://i.imgur.com/0zwa4YI.jpg)

![Imgur](https://i.imgur.com/d84tL2e.png)

### using clipboard

In [1]:
# read.table(“clipboard”): It allows to copy data from Excel and read it directly
# in R. useful in some cases.  myDf <- read.table('clipboard') myDf

### using file.choose()

In [2]:
#Using file.choose() argument (select yearly_sales.txt file)
# my_data <- read.table(file.choose(), sep=",")
# head(my_data)

### Using read.table
* If you have a .txt or a tab-delimited text file, you can easily import it with the basic R function read.table()
* read data from a file as a table
* if the file is nicely formatted and arranged in convenient rows and columns

In [67]:
# take R documentation help
# ?read.table or help(read.table)
# ??read.table or help.search("read.table")

In [70]:
# read.table and read.delim are intended to import other common file types such
# as .TXT
sales_table_txt <- read.table("data/yearly_sales.txt", header = TRUE, sep = ",")
head(sales_table_txt)

  cust_id sales_total num_of_orders gender
1 100001  800.64      3             F
2 100002  217.53      3             F
3 100003   74.58      2             M
4 100004  498.60      3             M
5 100005  723.11      4             F
6 100006   69.43      2             F

In [71]:
# Reading .dat files in R
trial <- read.table("data/trialTable.dat")
trial
names(trial)
names(trial)[names(trial)==names(trial)] <- c("one", "two", "three")
trial

  V1 V2 V3
1 1  2  3
2 3  5  6

[1] "V1" "V2" "V3"

  one two three
1 1   2   3
2 3   5   6

In [72]:
iris <- read.table(url("http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"), 
    header = FALSE, sep = ",")
# external sep argument is needed to import this file using read.table
head(iris)

  V1  V2  V3  V4  V5
1 5.1 3.5 1.4 0.2 Iris-setosa
2 4.9 3.0 1.4 0.2 Iris-setosa
3 4.7 3.2 1.3 0.2 Iris-setosa
4 4.6 3.1 1.5 0.2 Iris-setosa
5 5.0 3.6 1.4 0.2 Iris-setosa
6 5.4 3.9 1.7 0.4 Iris-setosa

In [73]:
data <- read.table(url("https://raw.githubusercontent.com/mrtnj/rstuff/master/comb_gnome_data.csv"), 
    header = TRUE, sep = ",")
dim(data)
head(data)

[1] 100   6

  group treatment mass0     mass10   mass25    mass50
1 green control   150.04841 188.1930 264.33913  465.6842
2 green control   128.94804 168.4952 251.67897  491.2235
3 green pixies    161.00249 267.2797 571.69731 2030.0171
4 green pixies    193.44995 267.8308 436.31328  984.0751
5 green control   101.88225 124.7450 169.00897  280.3632
6 green control    41.92258  51.2602  69.30728  114.5803

In [74]:
# Read in the data
    df <- read.table("https://s3.amazonaws.com/assets.datacamp.com/blog_assets/scores_timed.txt", 
                     header = FALSE, 
                     sep="/", 
                     strip.white = TRUE,  
                     na.strings = "EMPTY") # na.strings indicates which strings should be interpreted as NA values. In this case, the string “EMPTY” is to be interpreted as an NA value.

    # Print out `df`
    print(df)

  V1 V2       V3   V4           V5
1  1  6 12:01:03 0.50        WORST
2  2 16 07:42:51 0.32         BEST
3  3 19 12:01:29 0.50         <NA>
4  4 13 03:22:50 0.14 INTERMEDIATE
5  5  8 09:30:03 0.40        WORST

In [75]:
# strip.white = TRUE feature
carSpeeds <- read.csv(file = "data/car-speeds.csv", stringsAsFactors = FALSE)
unique(carSpeeds$Color)

[1] "Blue"  " Red"  "White" "Red"   "Black"

In [76]:
# we see two values for red cars.# Let’s try again, this time importing the data
# using the strip.white argument. NOTE - this argument must be accompanied by the
# sep argument, by which we indicate the type of delimiter in the file (the comma
# for most .csv files)
carSpeeds <- read.csv(file = "data/car-speeds.csv", stringsAsFactors = FALSE, strip.white = TRUE, 
    sep = ",")

unique(carSpeeds$Color)

[1] "Blue"  "Red"   "White" "Black"

### Using read.csv()
* Column seperated values
* Each line contains a row of values which can be numbers or letters, and each value is separated by a comma.

In [77]:
trial <- read.csv("data/trialTable.csv", header = FALSE)
trial

  V1 V2 V3
1 1  2  3
2 3  5  6

In [78]:
# By default, strings in the data are converted to factors. If you load the data
# below with read.csv, then all the text columns will be treated as factors, even
# though it might make more sense to treat some of them as strings. To do this,
# use stringsAsFactors=FALSE:
data <- read.csv("data/datafile.csv")
str(data)
data <- read.csv("data/datafile.csv", stringsAsFactors = FALSE)
str(data)
# You might have to convert some columns to factors
data$Sex <- factor(data$Sex)
str(data)

'data.frame':	3 obs. of  4 variables:
 $ First : Factor w/ 3 levels "","Currer","Dr.": 2 3 1
 $ Last  : Factor w/ 3 levels "Bell","Seuss",..: 1 2 3
 $ Sex   : Factor w/ 2 levels "F","M": 1 2 NA
 $ Number: int  2 49 21
'data.frame':	3 obs. of  4 variables:
 $ First : chr  "Currer" "Dr." ""
 $ Last  : chr  "Bell" "Seuss" "Student"
 $ Sex   : chr  "F" "M" NA
 $ Number: int  2 49 21
'data.frame':	3 obs. of  4 variables:
 $ First : chr  "Currer" "Dr." ""
 $ Last  : chr  "Bell" "Seuss" "Student"
 $ Sex   : Factor w/ 2 levels "F","M": 1 2 NA
 $ Number: int  2 49 21

In [79]:
# Another alternative is to load them as factors and convert some columns to characters:

data <- read.csv("data/datafile.csv")
str(data)
data$First <- as.character(data$First)
data$Last  <- as.character(data$Last)
str(data)
# Another method: convert columns named "First" and "Last"
stringcols <- c("First","Last")
data[stringcols] <- lapply(data[stringcols], as.character)
str(data)

'data.frame':	3 obs. of  4 variables:
 $ First : Factor w/ 3 levels "","Currer","Dr.": 2 3 1
 $ Last  : Factor w/ 3 levels "Bell","Seuss",..: 1 2 3
 $ Sex   : Factor w/ 2 levels "F","M": 1 2 NA
 $ Number: int  2 49 21
'data.frame':	3 obs. of  4 variables:
 $ First : chr  "Currer" "Dr." ""
 $ Last  : chr  "Bell" "Seuss" "Student"
 $ Sex   : Factor w/ 2 levels "F","M": 1 2 NA
 $ Number: int  2 49 21
'data.frame':	3 obs. of  4 variables:
 $ First : chr  "Currer" "Dr." ""
 $ Last  : chr  "Bell" "Seuss" "Student"
 $ Sex   : Factor w/ 2 levels "F","M": 1 2 NA
 $ Number: int  2 49 21

In [80]:
# skipping unwanted rows
inventories <- read.csv("data/inventories.csv", skip = 6, header = TRUE, sep = ",")
head(inventories)

  Line X                               X1994.1 X1994.2 X1994.3 X1994.4 X1995.1
1 1    Manufacturing and trade         918077  933394  943934  959179  974505
2 2    Manufacturing                   396374  399508  402100  405833  411143
3 3    Durable goods                   237975  240652  242222  244930  248020
4 4    Lumber and wood products         10264   10380   10159   10104    9967
5 5    Furniture and fixtures            6695    6599    6647    6735    6810
6 6    Stone, clay, and glass products   8313    8041    8114    8315    8475
  X1995.2 X1995.3 X1995.4 X1996.1 X1996.2 X1996.3 X1996.4
1 985513  992770  996357  997100  1001734 1009316 1016359
2 414963  418103  419897  424195   423339  426845  429994
3 250316  253164  255633  259538   260090  263286  265147
4   9857   10303   10543   10559    10693   10696   10479
5   6839    6753    6737    6501     6572    6650    6698
6   8854    9023    8784    8844     8780    8844    9047

### Using read.csv2()
* `read.csv2()` variant used in countries that use a comma “,” as decimal point and a semicolon “;” as field separators.
*  If you export a comma separated value file on a Swedish computer, you are likely to get a numbers with decimal commas and semicolons as field separators. Then what you want is read.csv2( ), which is a read.csv made for semicolon separated files with decimal commas.

In [81]:
states_eu <- read.csv("data/states_eu.csv")
states_eu
str(states_eu)
states_eu <- read.csv2("data/states_eu.csv", stringsAsFactors=FALSE)
states_eu

  state        capital    pop_mill area_sqm X
1 South Dakota Pierre     0,853    77116    NA
2 New York     Albany     19,746   54555    NA
3 Oregon       Salem      3,97     98381    NA
4 Vermont      Montpelier 0,627     9616    NA
5 Hawaii       Honolulu   1,42     10931    NA

'data.frame':	5 obs. of  5 variables:
 $ state   : Factor w/ 5 levels "Hawaii","New York",..: 4 2 3 5 1
 $ capital : Factor w/ 5 levels "Albany","Honolulu",..: 4 1 5 3 2
 $ pop_mill: Factor w/ 5 levels "0,627","0,853",..: 2 4 5 1 3
 $ area_sqm: int  77116 54555 98381 9616 10931
 $ X       : logi  NA NA NA NA NA

  state.capital.pop_mill.area_sqm.
1 South Dakota,Pierre,0,853,77116,
2 New York,Albany,19,746,54555,
3 Oregon,Salem,3,97,98381,
4 Vermont,Montpelier,0,627,9616,
5 Hawaii,Honolulu,1,42,10931,

In [82]:
df <- read.csv2("data/testSemCol.csv", header = FALSE)
df

  V1   V2   V3
1 Col1 Col2 Col3
2 1    2    3
3 4    5    6
4 7    8    9
5 a    b    c

In [83]:
df <- read.csv2("https://s3.amazonaws.com/assets.datacamp.com/blog_assets/test.csv", 
    header = FALSE, sep=",")
df

  V1   V2   V3
1 Col1 Col2 Col3
2 1    2    3
3 4    5    6
4 7    8    9
5 a    b    c

### Using read.delim()
* `read.delim()` is almost the same as read.table(), except the field separator is tab by default. It is convenient for open tab delimited file. 
* `read.delim()` for reading “tab-separated value” files (“.txt”). By default, point (“.”) is used as decimal points.
* `read.delim()` is related to other functions for reading data files into R, such as `read.csv()` or `read.table()`
* `read.delim()` has arguments (or options) that are similar to the arguments of `read.csv()` or `read.table()`

In [84]:
states<- read.delim("data/states.txt")
states<- read.delim("data/states.txt",stringsAsFactors=FALSE) # proper 
states

  state        capital    pop_mill area_sqm
1 South Dakota Pierre      0.853   77116
2 New York     Albany     19.746   54555
3 Oregon       Salem       3.970   98381
4 Vermont      Montpelier  0.627    9616
5 Hawaii       Honolulu    1.420   10931

In [85]:
# filename <- 'http://www.nilu.no/projects/ccc/onlinedata/ozone/CZ03_2009.dat'

data <- read.delim("data/CZ03_2009.dat", header = TRUE, sep = "", skip = 2, as.is = TRUE)

head(data)

  Date       Hour  Value
1 01.01.2009 00:00 34.3
2 01.01.2009 01:00 31.9
3 01.01.2009 02:00 29.9
4 01.01.2009 03:00 28.5
5 01.01.2009 04:00 32.9
6 01.01.2009 05:00 20.5

### Using read.delim2()
* `read.delim2()` for reading “tab-separated value” files (“.txt”). By default, comma (“,”) is used as decimal points.

In [86]:
sales_delim2_txt <- read.delim2("data/yearly_sales.txt",sep = ",")
head(sales_delim2_txt)

  cust_id sales_total num_of_orders gender
1 100001  800.64      3             F
2 100002  217.53      3             F
3 100003  74.58       2             M
4 100004  498.6       3             M
5 100005  723.11      4             F
6 100006  69.43       2             F

### Using read.fwf() for Fixed-width files
* In a fixed width file, every line has the same format and the information within a given line is strictly organized by columns.
* A negative number in the list indicates that the column should be skipped.

In [87]:
# The first three columns are assumed to contain letters, the next five columns
# contain numbers, the next two columns have letters, and the last four columns
# are numbers
trial <- read.fwf("data/trialFWF.dat", c(3, 5, 2, 4), skip = 1)
trial
trial$V1

  V1  V2  V3 V4
1 B   100 ZZ 18
2 C   200 YY 20
3 D   300 XX 22

[1] B   C   D
Levels: B   C   D

In [88]:
# column can be ignored by giving a negative number
trial <- read.fwf("data/trialFWF.dat", c(3, -5, 2, 4), skip = 1)
trial

  V1  V2 V3
1 B   ZZ 18
2 C   YY 20
3 D   XX 22

# readr package
* faster
* helpful progress bar
* read_csv(): to read a comma (“,”) separated values
* read_csv2(): to read a semicolon (“;”) separated values
* read_tsv(): to read a tab separated (“\t”) values

In [89]:
library(readr)
# Import potatoes.txt using read_delim(): potatoes
potatoesTXT <- read_delim("data/potatoes.txt", delim = "\t")
# Print out potatoes
potatoesTXT
#read_csv function (readr package)
# readr is already loaded
# Column names
properties <- c("area", "temp", "size", "storage", "method", 
                "texture", "flavor", "moistness")
# Import potatoes.csv with read_csv(): potatoes
potatoesCSV <- read_csv("data/potatoes.csv", col_names = properties)
potatoesCSV

Parsed with column specification:
cols(
  area = col_integer(),
  temp = col_integer(),
  size = col_integer(),
  storage = col_integer(),
  method = col_integer(),
  texture = col_double(),
  flavor = col_double(),
  moistness = col_double()
)

    area temp size storage method texture flavor moistness
1   1    1    1    1       1      2.9     3.2    3.0
2   1    1    1    1       2      2.3     2.5    2.6
3   1    1    1    1       3      2.5     2.8    2.8
4   1    1    1    1       4      2.1     2.9    2.4
5   1    1    1    1       5      1.9     2.8    2.2
6   1    1    1    2       1      1.8     3.0    1.7
7   1    1    1    2       2      2.6     3.1    2.4
8   1    1    1    2       3      3.0     3.0    2.9
9   1    1    1    2       4      2.2     3.2    2.5
10  1    1    1    2       5      2.0     2.8    1.9
11  1    1    1    3       1      1.8     2.6    1.5
12  1    1    1    3       2      2.0     2.8    1.9
13  1    1    1    3       3      2.6     2.6    2.6
14  1    1    1    3       4      2.1     3.2    2.1
15  1    1    1    3       5      2.5     3.0    2.1
16  1    1    1    4       1      2.6     3.1    2.4
17  1    1    1    4       2      2.7     2.9    2.4
18  1    1    1    4       3      2.2     3.1    2.3
19  1    1    1    4       4      3.1     3.4    2.7
20  1    1    1    4       5      3.0     2.6    2.7
21  1    1    2    1       1      3.1     3.0    2.8
22  1    1    2    1       2      2.7     2.8    2.7
23  1    1    2    1       3      2.4     3.0    2.9
24  1    1    2    1       4      2.2     2.9    2.3
25  1    1    2    1       5      1.9     2.9    2.0
26  1    1    2    2       1      1.8     2.6    1.8
27  1    1    2    2       2      2.2     2.9    2.1
28  1    1    2    2       3      2.8     3.2    2.8
29  1    1    2    2       4      2.3     3.2    2.4
30  1    1    2    2       5      2.0     3.0    2.0
... ...  ...  ...  ...     ...    ...     ...    ...
131 2    2    1    3       1      2.8     2.8    2.6
132 2    2    1    3       2      3.5     2.8    3.0
133 2    2    1    3       3      2.5     3.2    2.3
134 2    2    1    3       4      3.3     3.0    2.7
135 2    2    1    3       5      3.5     2.9    2.9
136 2    2    1    4       1      3.2     3.4    2.5
137 2    2    1    4       2      3.3     2.8    2.8
138 2    2    1    4       3      3.0     3.0    2.8
139 2    2    1    4       4      3.5     3.2    3.1
140 2    2    1    4       5      3.4     3.0    2.8
141 2    2    2    1       1      2.7     2.5    2.5
142 2    2    2    1       2      2.5     2.7    2.3
143 2    2    2    1       3      3.2     2.7    3.0
144 2    2    2    1       4      2.4     2.7    2.5
145 2    2    2    1       5      2.7     2.1    2.3
146 2    2    2    2       1      2.2     2.7    2.3
147 2    2    2    2       2      3.1     2.9    2.6
148 2    2    2    2       3      2.2     2.8    3.1
149 2    2    2    2       4      2.9     3.0    2.7
150 2    2    2    2       5      2.8     2.7    2.6
151 2    2    2    3       1      2.5     3.2    2.3
152 2    2    2    3       2      2.9     3.3    2.7
153 2    2    2    3       3      2.5     3.1    2.5
154 2    2    2    3       4      3.0     2.9    2.5
155 2    2    2    3       5      2.9     3.1    3.1
156 2    2    2    4       1      2.7     3.3    2.6
157 2    2    2    4       2      2.6     2.8    2.3
158 2    2    2    4       3      2.5     3.1    2.6
159 2    2    2    4       4      3.4     3.3    3.0
160 2    2    2    4       5      2.5     2.8    2.3

Parsed with column specification:
cols(
  area = col_integer(),
  temp = col_integer(),
  size = col_integer(),
  storage = col_integer(),
  method = col_integer(),
  texture = col_double(),
  flavor = col_double(),
  moistness = col_double()
)

    area temp size storage method texture flavor moistness
1   1    1    1    1       1      2.9     3.2    3.0
2   1    1    1    1       2      2.3     2.5    2.6
3   1    1    1    1       3      2.5     2.8    2.8
4   1    1    1    1       4      2.1     2.9    2.4
5   1    1    1    1       5      1.9     2.8    2.2
6   1    1    1    2       1      1.8     3.0    1.7
7   1    1    1    2       2      2.6     3.1    2.4
8   1    1    1    2       3      3.0     3.0    2.9
9   1    1    1    2       4      2.2     3.2    2.5
10  1    1    1    2       5      2.0     2.8    1.9
11  1    1    1    3       1      1.8     2.6    1.5
12  1    1    1    3       2      2.0     2.8    1.9
13  1    1    1    3       3      2.6     2.6    2.6
14  1    1    1    3       4      2.1     3.2    2.1
15  1    1    1    3       5      2.5     3.0    2.1
16  1    1    1    4       1      2.6     3.1    2.4
17  1    1    1    4       2      2.7     2.9    2.4
18  1    1    1    4       3      2.2     3.1    2.3
19  1    1    1    4       4      3.1     3.4    2.7
20  1    1    1    4       5      3.0     2.6    2.7
21  1    1    2    1       1      3.1     3.0    2.8
22  1    1    2    1       2      2.7     2.8    2.7
23  1    1    2    1       3      2.4     3.0    2.9
24  1    1    2    1       4      2.2     2.9    2.3
25  1    1    2    1       5      1.9     2.9    2.0
26  1    1    2    2       1      1.8     2.6    1.8
27  1    1    2    2       2      2.2     2.9    2.1
28  1    1    2    2       3      2.8     3.2    2.8
29  1    1    2    2       4      2.3     3.2    2.4
30  1    1    2    2       5      2.0     3.0    2.0
... ...  ...  ...  ...     ...    ...     ...    ...
132  2    2    1    3      2      3.5     2.8    3.0
133  2    2    1    3      3      2.5     3.2    2.3
134  2    2    1    3      4      3.3     3.0    2.7
135  2    2    1    3      5      3.5     2.9    2.9
136  2    2    1    4      1      3.2     3.4    2.5
137  2    2    1    4      2      3.3     2.8    2.8
138  2    2    1    4      3      3.0     3.0    2.8
139  2    2    1    4      4      3.5     3.2    3.1
140  2    2    1    4      5      3.4     3.0    2.8
141  2    2    2    1      1      2.7     2.5    2.5
142  2    2    2    1      2      2.5     2.7    2.3
143  2    2    2    1      3      3.2     2.7    3.0
144  2    2    2    1      4      2.4     2.7    2.5
145  2    2    2    1      5      2.7     2.1    2.3
146  2    2    2    2      1      2.2     2.7    2.3
147  2    2    2    2      2      3.1     2.9    2.6
148  2    2    2    2      3      2.2     2.8    3.1
149  2    2    2    2      4      2.9     3.0    2.7
150  2    2    2    2      5      2.8     2.7    2.6
151  2    2    2    3      1      2.5     3.2    2.3
152  2    2    2    3      2      2.9     3.3    2.7
153  2    2    2    3      3      2.5     3.1    2.5
154  2    2    2    3      4      3.0     2.9    2.5
155  2    2    2    3      5      2.9     3.1    3.1
156  2    2    2    4      1      2.7     3.3    2.6
157  2    2    2    4      2      2.6     2.8    2.3
158  2    2    2    4      3      2.5     3.1    2.6
159  2    2    2    4      4      3.4     3.3    3.0
160  2    2    2    4      5      2.5     2.8    2.3
161 15   16   25   87      5      6.5     8.7    4.5

**Further References:** https://blog.rstudio.com/2016/08/05/readr-1-0-0/

# Data Exporting

**Modifying changes in imported file and write/export those changes to the disk**

In [90]:
sales <- read.csv("data/yearly_sales.csv")
sales$per_order <- sales$sales_total/sales$num_of_orders 
write.table(sales, "data/sales_modified.txt", sep = "\t", row.names = FALSE)  # row.names argument option

In [91]:
month    <- month.abb
avgHigh  <- c(38, 41, 47, 56, 69, 81, 83, 82, 71, 55, 48, 43)
seasons  <- c("Winter", "Spring", "Summer", "Fall")
season   <- rep(seasons[c(1:4,1)], c(2,3,3,3,1))
schoolIn <- rep(c("yes", "no", "yes"), c(5, 3, 4))

getwd()
d        <- data.frame(month, avgHigh, season, schoolIn)
write.table(d, "data/annual.txt", quote=TRUE,
            sep="\t", row.names=FALSE)

d <- read.delim("data/annual.txt", header=TRUE, sep="\t")
d

[1] "E:/Projects/LIT-01/Data-Importing"

   month avgHigh season schoolIn
1  Jan   38      Winter yes
2  Feb   41      Winter yes
3  Mar   47      Spring yes
4  Apr   56      Spring yes
5  May   69      Spring yes
6  Jun   81      Summer no
7  Jul   83      Summer no
8  Aug   82      Summer no
9  Sep   71      Fall   yes
10 Oct   55      Fall   yes
11 Nov   48      Fall   yes
12 Dec   43      Winter yes

In [92]:
#quote argument option
t=data.frame(rep("a",5), rep("b",5)) 
t
write.table(t,"data/try.txt",row.names=F,col.names=F,sep="\t") 
write.table(t,"data/tryN.txt",row.names=F,col.names=F,sep="\t", quote=FALSE)

  rep..a...5. rep..b...5.
1 a           b
2 a           b
3 a           b
4 a           b
5 a           b

**Import Data into R: Read CSV, Excel, SPSS, Stata, SAS Files:** https://www.guru99.com/r-import-data.html  
**Exporting Data to Excel, CSV, SAS, STATA, Text File:** https://www.guru99.com/r-exporting-data.html