In [5]:
############ data entry ##############
############# using scan()
?scan
x <- scan() #scan function can read data from console
print(x) 
xc <- scan() #it only expects real no, others must be specified in the what argument
xcomp <- scan(what = "complex")#it takes now comnplex
xchar <- scan(what = "character")#it takes now character
xdata <- scan("data/diameters.csv")  # to take the input from file
xMultyType <- scan("data/trees.csv", what = list("character", "double"), sep = ",")
# The first column is the character data, and the second column is the numerical data
 
################## using edit() and fix() functions (commented bcz these won't work in jupyter notebooks, but works in R studio)
# elements <- data.frame() # creating empty dataframe
# elements <- edit(elements) #to edit/entry data interactively using GUI
# edit(elements) # when you are not storing into object then it can print to the console automatically after you enter the data
# elements <- fix(elements)
# fix(elements) # cannot give output to the console

############ import data using read.table() function ########################
?read.table
sales_table_txt <- read.table("data/yearly_sales.txt")
sales_table_txt <- read.table("data/yearly_sales.txt", sep = ",") #by defalut sep = ""
sales_table_txt <- read.table("data/yearly_sales.txt", sep = ",", header = TRUE) #by default read.table header is false
iris <- read.table(url("http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"), sep = ",") # data reading from online using url feature
head(iris)
df <- read.table("https://s3.amazonaws.com/assets.datacamp.com/blog_assets/scores_timed.txt",sep = "/") # na.strings indicates which strings should be interpreted as NA values. In this case, the string “EMPTY” is to be interpreted as an NA value.

df <- read.table("https://s3.amazonaws.com/assets.datacamp.com/blog_assets/scores_timed.txt",sep = "/")
df <- read.table("https://s3.amazonaws.com/assets.datacamp.com/blog_assets/scores_timed.txt",sep = "/", na.strings = "EMPTY")
print(df)

numeric(0)

  V1  V2  V3  V4  V5
1 5.1 3.5 1.4 0.2 Iris-setosa
2 4.9 3.0 1.4 0.2 Iris-setosa
3 4.7 3.2 1.3 0.2 Iris-setosa
4 4.6 3.1 1.5 0.2 Iris-setosa
5 5.0 3.6 1.4 0.2 Iris-setosa
6 5.4 3.9 1.7 0.4 Iris-setosa

  V1 V2       V3   V4           V5
1  1  6 12:01:03 0.50        WORST
2  2 16 07:42:51 0.32         BEST
3  3 19 12:01:29 0.50         <NA>
4  4 13 03:22:50 0.14 INTERMEDIATE
5  5  8 09:30:03 0.40        WORST

In [4]:
#setwd("C:/Users/dell/Downloads/4-DataImporting/4-DataImporting")
# data entry using scan function
#?scan
x <-scan()
x <-scan()
x <-scan(what = "character") # for character entry
y <- scan("data/diameters.csv")
y
x <- scan("data/trees.csv", what = list("character", "double"),sep = ",")
x          
x        
#using the edit() function: runtime edit the values
elements <- data.frame()
elements
#elements <- edit(elements) #edit not supported in jupyter r kernel

sales_table_txt <- read.table("data/yearly_sales.txt", header=TRUE, sep = ",")
trial <- read.table("data/trialTable.dat")
head(trial)
iris <- read.table(url("http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"), sep = ",")

head(iris)    
data <- read.table(url("https://raw.githubusercontent.com/mrtnj/rstuff/master/comb_gnome_data.csv"), 
    header = TRUE, sep = ",")
dim(data)
head(data)

df <- read.table("https://s3.amazonaws.com/assets.datacamp.com/blog_assets/scores_timed.txt", 
                 header = FALSE, 
                 sep="/", 
                 strip.white = TRUE,  
                 na.strings = "EMPTY") # na.strings indicates which strings should be interpreted as NA values. In this case, the string “EMPTY” is to be interpreted as an NA value.

# Print out `df`
print(df)

[1] 28.8 27.3 45.8 34.8 25.3

[[1]]
[1] "pine" "pine" "oak"  "pine" "oak"

[[2]]
[1] "28.8" "27.3" "45.8" "34.8" "25.3"

[[1]]
[1] "pine" "pine" "oak"  "pine" "oak"

[[2]]
[1] "28.8" "27.3" "45.8" "34.8" "25.3"

  V1 V2 V3
1 1  2  3
2 3  5  6

  V1  V2  V3  V4  V5
1 5.1 3.5 1.4 0.2 Iris-setosa
2 4.9 3.0 1.4 0.2 Iris-setosa
3 4.7 3.2 1.3 0.2 Iris-setosa
4 4.6 3.1 1.5 0.2 Iris-setosa
5 5.0 3.6 1.4 0.2 Iris-setosa
6 5.4 3.9 1.7 0.4 Iris-setosa

[1] 100   6

  group treatment mass0     mass10   mass25    mass50
1 green control   150.04841 188.1930 264.33913  465.6842
2 green control   128.94804 168.4952 251.67897  491.2235
3 green pixies    161.00249 267.2797 571.69731 2030.0171
4 green pixies    193.44995 267.8308 436.31328  984.0751
5 green control   101.88225 124.7450 169.00897  280.3632
6 green control    41.92258  51.2602  69.30728  114.5803

  V1 V2       V3   V4           V5
1  1  6 12:01:03 0.50        WORST
2  2 16 07:42:51 0.32         BEST
3  3 19 12:01:29 0.50         <NA>
4  4 13 03:22:50 0.14 INTERMEDIATE
5  5  8 09:30:03 0.40        WORST