<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc" style="margin-top: 1em;"><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Import-data-from-excel-files" data-toc-modified-id="Import-data-from-excel-files-0.1">Import data from excel files</a></span><ul class="toc-item"><li><span><a href="#Using-XLConnect-package" data-toc-modified-id="Using-XLConnect-package-0.1.1">Using XLConnect package</a></span></li><li><span><a href="#Using-xlsx-Package" data-toc-modified-id="Using-xlsx-Package-0.1.2">Using xlsx Package</a></span></li><li><span><a href="#Using-Readxl-Package" data-toc-modified-id="Using-Readxl-Package-0.1.3">Using Readxl Package</a></span></li></ul></li><li><span><a href="#Importing-XML-data-into-R" data-toc-modified-id="Importing-XML-data-into-R-0.2">Importing XML data into R</a></span></li><li><span><a href="#Import-JSON-data-into-R" data-toc-modified-id="Import-JSON-data-into-R-0.3">Import JSON data into R</a></span></li><li><span><a href="#Importing-Data-From-HTML-Tables-Into-R" data-toc-modified-id="Importing-Data-From-HTML-Tables-Into-R-0.4">Importing Data From HTML Tables Into R</a></span><ul class="toc-item"><li><span><a href="#Using-httr-packages" data-toc-modified-id="Using-httr-packages-0.4.1">Using httr packages</a></span></li><li><span><a href="#Using-rvest-package-(web-scrapping)" data-toc-modified-id="Using-rvest-package-(web-scrapping)-0.4.2">Using rvest package (web scrapping)</a></span><ul class="toc-item"><li><span><a href="#Import-data-from-wikipedia-(Scrape-an-HTML-Table)" data-toc-modified-id="Import-data-from-wikipedia-(Scrape-an-HTML-Table)-0.4.2.1">Import data from wikipedia (Scrape an HTML Table)</a></span></li><li><span><a href="#Import-data-from-wikipedia-(Using-xpath)" data-toc-modified-id="Import-data-from-wikipedia-(Using-xpath)-0.4.2.2">Import data from wikipedia (Using xpath)</a></span></li></ul></li></ul></li><li><span><a href="#Importing-Data-From-Other-Statistical-softwares" data-toc-modified-id="Importing-Data-From-Other-Statistical-softwares-0.5">Importing Data From Other Statistical softwares</a></span><ul class="toc-item"><li><span><a href="#haven-package" data-toc-modified-id="haven-package-0.5.1">haven package</a></span><ul class="toc-item"><li><span><a href="#From-SAS" data-toc-modified-id="From-SAS-0.5.1.1">From SAS</a></span></li><li><span><a href="#From-Stata" data-toc-modified-id="From-Stata-0.5.1.2">From Stata</a></span></li><li><span><a href="#From-SPSS" data-toc-modified-id="From-SPSS-0.5.1.3">From SPSS</a></span></li></ul></li><li><span><a href="#foreign-package" data-toc-modified-id="foreign-package-0.5.2">foreign package</a></span></li><li><span><a href="#Hmisc-package" data-toc-modified-id="Hmisc-package-0.5.3">Hmisc package</a></span></li></ul></li><li><span><a href="#One-package-for-basic-import/export-(rio-package)" data-toc-modified-id="One-package-for-basic-import/export-(rio-package)-0.6">One package for basic import/export (<code>rio</code> <strong>package</strong>)</a></span></li></ul></li></ul></div>

## Import data from excel files

### Using XLConnect package

In [19]:
#install.packages("XLConnect", repos = "http://cran.us.r-project.org")
library(XLConnect) #lib.loc="C:/Users/Suman/Documents/R/win-library/3.4")

 
# Download an Excel file from the internet
# url <- "http://miraisolutions.files.wordpress.com/"
# path <- "2013/01/"
# file.name <- "example.xlsx"
# download.file(paste(url, path, file.name, sep = ""), file.name)
 
# Load the workbook
wb <- XLConnect::loadWorkbook("data/latitude.xlsx")
 
# Read data from a target section of the worksheet and print
my.data <- readWorksheet(wb, sheet = "1700", startRow = 10, startCol = 1, 
                         endRow = 42, endCol = 2)
print(my.data)

      Antigua.and.Barbuda   X17.072
1               Argentina -36.67600
2                 Armenia  40.25400
3                   Aruba  12.51300
4               Australia -32.21900
5                 Austria  48.23100
6              Azerbaijan  40.35200
7                 Bahamas  24.70000
8                 Bahrain  26.02400
9              Bangladesh  23.88000
10               Barbados  13.17900
11                Belarus  53.54709
12                Belgium  50.83700
13                 Belize  17.84300
14                  Benin   6.36400
15                Bermuda  32.21700
16                 Bhutan  27.47900
17                Bolivia -15.19000
18 Bosnia and Herzegovina  44.17501
19               Botswana -21.53600
20                 Brazil -19.55700
21 British Virgin Islands  18.50000
22                 Brunei   4.50100
23               Bulgaria  42.07300
24           Burkina Faso  12.04900
25                Burundi  -3.36500
26               Cambodia  12.02600
27               Cameroon  10.73000
28                 Canada  43.72700
29             Cape Verde  15.09100
30         Cayman Islands  19.31900
31   Central African Rep.   4.33100
32                   Chad  10.37700

### Using xlsx Package

In [20]:
#install.packages("xlsx", repos = "http://cran.us.r-project.org")
# Use xlsx package
library("xlsx")
my_data <- read.xlsx("data/cities.xlsx", sheetName = "year_2000")
my_data
my_data <- read.xlsx2("data/cities.xlsx", sheetName = "year_1990")  # Prefer the read.xlsx2() over read.xlsx(), it’s significantly faster for large dataset.
my_data

  Capital   Population
1 New York  17800000
2 Berlin     3382169
3 Madrid     2938723
4 Stockholm  1942362
5 NA              NA
6 NA              NA
7 NA              NA
8 NA              NA
9 NA              NA

  Capital   Population
1 New York  16044000
2 Berlin    3433695
3 Madrid    3010492
4 Stockholm 1683713

### Using Readxl Package

In [21]:
# Use readxl package to read xls|xlsxl
#install.packages("readxl") 
library(readxl)
excel_sheets("data/cities.xlsx") 
my_data<-read_excel("data/cities.xlsx")
my_data
read_excel("data/cities.xlsx", sheet = 2) 
read_excel("data/cities.xlsx", sheet = "year_2000")
# col_names = FALSE: R assigns names itself 
# col_names = character vector: manually specify

[1] "year_1990" "year_2000"

  Capital   Population
1 New York  16044000
2 Berlin     3433695
3 Madrid     3010492
4 Stockholm  1683713

  Capital   Population
1 New York  17800000
2 Berlin     3382169
3 Madrid     2938723
4 Stockholm  1942362

  Capital   Population
1 New York  17800000
2 Berlin     3382169
3 Madrid     2938723
4 Stockholm  1942362

## Importing XML data into R

In [22]:
# working with xml file from url link
library(RCurl)
library(XML, lib.loc="~/R/win-library/3.4")
# library(RCurl, lib.loc="~/R/win-library/3.4")
fileURL <- "https://www.w3schools.com/xml/simple.xml"
xData <- getURL(fileURL)
doc <- xmlParse(xData)
rootNode <- xmlRoot(doc)
xmldataframe1 <- xmlToDataFrame(xData)
xmldataframe1
# working with local file
result <- xmlParse("data/books.xml")
print(result)
rootNode <- xmlRoot(result)
rootSize <- xmlSize(rootNode)
print(rootSize)
print(rootNode[1])
xmldataframe <- xmlToDataFrame("data/books.xml")
print(xmldataframe)
head(xmldataframe)

  name                        price
1 Belgian Waffles             $5.95
2 Strawberry Belgian Waffles  $7.95
3 Berry-Berry Belgian Waffles $8.95
4 French Toast                $4.50
5 Homestyle Breakfast         $6.95
  description
1 Two of our famous Belgian Waffles with plenty of real maple syrup
2 Light Belgian waffles covered with strawberries and whipped cream
3 Light Belgian waffles covered with an assortment of fresh berries and whipped cream
4 Thick slices made from our homemade sourdough bread
5 Two eggs, bacon or sausage, toast, and our ever-popular hash browns
  calories
1 650
2 900
3 900
4 600
5 950

<?xml version="1.0"?>
<RECORDS>
  <EMPLOYEE>
    <ID>1</ID>
    <NAME>Rick</NAME>
    <SALARY>623.3</SALARY>
    <STARTDATE>1/1/2012</STARTDATE>
    <DEPT>IT</DEPT>
  </EMPLOYEE>
  <EMPLOYEE>
    <ID>2</ID>
    <NAME>Dan</NAME>
    <SALARY>515.2</SALARY>
    <STARTDATE>9/23/2013</STARTDATE>
    <DEPT>Operations</DEPT>
  </EMPLOYEE>
  <EMPLOYEE>
    <ID>3</ID>
    <NAME>Michelle</NAME>
    <SALARY>611</SALARY>
    <STARTDATE>11/15/2014</STARTDATE>
    <DEPT>IT</DEPT>
  </EMPLOYEE>
  <EMPLOYEE>
    <ID>4</ID>
    <NAME>Ryan</NAME>
    <SALARY>729</SALARY>
    <STARTDATE>5/11/2014</STARTDATE>
    <DEPT>HR</DEPT>
  </EMPLOYEE>
  <EMPLOYEE>
    <ID>5</ID>
    <NAME>Gary</NAME>
    <SALARY>843.25</SALARY>
    <STARTDATE>3/27/2015</STARTDATE>
    <DEPT>Finance</DEPT>
  </EMPLOYEE>
  <EMPLOYEE>
    <ID>6</ID>
    <NAME>Nina</NAME>
    <SALARY>578</SALARY>
    <STARTDATE>5/21/2013</STARTDATE>
    <DEPT>IT</DEPT>
  </EMPLOYEE>
  <EMPLOYEE>
    <ID>7</ID>
    <NAME>Simon</NAME>
    <SALARY>632.8</SALARY>
    <STARTDATE>7/30/2013</STARTDATE>
    <DEPT>Operations</DEPT>
  </EMPLOYEE>
  <EMPLOYEE>
    <ID>8</ID>
    <NAME>Guru</NAME>
    <SALARY>722.5</SALARY>
    <STARTDATE>6/17/2014</STARTDATE>
    <DEPT>Finance</DEPT>
  </EMPLOYEE>
</RECORDS>

[1] 8
$EMPLOYEE
<EMPLOYEE>
  <ID>1</ID>
  <NAME>Rick</NAME>
  <SALARY>623.3</SALARY>
  <STARTDATE>1/1/2012</STARTDATE>
  <DEPT>IT</DEPT>
</EMPLOYEE>

attr(,"class")
[1] "XMLInternalNodeList" "XMLNodeList"
  ID     NAME SALARY  STARTDATE       DEPT
1  1     Rick  623.3   1/1/2012         IT
2  2      Dan  515.2  9/23/2013 Operations
3  3 Michelle    611 11/15/2014         IT
4  4     Ryan    729  5/11/2014         HR
5  5     Gary 843.25  3/27/2015    Finance
6  6     Nina    578  5/21/2013         IT
7  7    Simon  632.8  7/30/2013 Operations
8  8     Guru  722.5  6/17/2014    Finance

  ID NAME     SALARY STARTDATE  DEPT
1 1  Rick     623.3  1/1/2012   IT
2 2  Dan      515.2  9/23/2013  Operations
3 3  Michelle 611    11/15/2014 IT
4 4  Ryan     729    5/11/2014  HR
5 5  Gary     843.25 3/27/2015  Finance
6 6  Nina     578    5/21/2013  IT

## Import JSON data into R

In [23]:
#install.packages("rjson", repos = "http://cran.us.r-project.org")
# Load the package required to read JSON files.
library("rjson", lib.loc="~/R/win-library/3.4")

# Give the input file name to the function.
result <- fromJSON(file = "data/JSN.json")

# Print the result.
print(result)
as.data.frame(result)

$ID
[1] "1" "2" "3" "4" "5" "6" "7" "8"

$Name
[1] "Rick"     "Dan"      "Michelle" "Ryan"     "Gary"     "Nina"     "Simon"
[8] "Guru"

$Salary
[1] "623.3"  "515.2"  "611"    "729"    "843.25" "578"    "632.8"  "722.5"

$StartDate
[1] "1/1/2012"   "9/23/2013"  "11/15/2014" "5/11/2014"  "3/27/2015"
[6] "5/21/2013"  "7/30/2013"  "6/17/2014"

$Dept
[1] "IT"         "Operations" "IT"         "HR"         "Finance"
[6] "IT"         "Operations" "Finance"

  ID Name     Salary StartDate  Dept
1 1  Rick     623.3  1/1/2012   IT
2 2  Dan      515.2  9/23/2013  Operations
3 3  Michelle 611    11/15/2014 IT
4 4  Ryan     729    5/11/2014  HR
5 5  Gary     843.25 3/27/2015  Finance
6 6  Nina     578    5/21/2013  IT
7 7  Simon    632.8  7/30/2013  Operations
8 8  Guru     722.5  6/17/2014  Finance

## Importing Data From HTML Tables Into R

### Using httr packages

In [13]:
url  <- "https://en.wikipedia.org/wiki/Nandi_Award_for_Best_Actress"
# install.packages("httr", repos = "http://cran.us.r-project.org")
library(httr)
library(XML) # for readHTMLTable 
urldata <- GET(url)
data <- readHTMLTable(rawToChar(urldata$content),stringsAsFactors = FALSE, as.data.frame = TRUE)
head(data)

$`NULL`
     V1                   V2                                      V3   V4
1  2016           Ritu Varma                          Pelli Choopulu <NA>
2  2015       Anushka Shetty                               Size Zero <NA>
3  2014               Anjali                             Geethanjali <NA>
4  2013         Anjali Patil                      Naa Bangaaru Talli <NA>
5  2012 Samantha Ruth Prabhu               Yeto Vellipoyindhi Manasu <NA>
6  2011            Nayantara                         Sri Rama Rajyam <NA>
7  2010      Nithya Menen[5]                          Ala Modalaindi <NA>
8  2009           Thirtha[6]                             Sontha Ooru <NA>
9  2008               Swathi                            Ashta Chamma <NA>
10 2007          Charmy Kaur                                  Mantra <NA>
11 2006          Nandita Das                                   Kamli <NA>
12 2005               Trisha              Nuvvostanante Nenoddantana <NA>
13 2004  Kamalinee Mukherjee                                   Anand <NA>
14 2003      Bhoomika Chawla                                Missamma <NA>
15 2002              Kalyani           Avunu Valliddaru Ista Paddaru <NA>
16 2001              Laya[7]                               Preminchu <NA>
17 2000              Laya[8]                               Manoharam <NA>
18 1999            Maheswari                               Nee Kosam <NA>
19 1998       Ramya Krishnan                    Kante Koothurne Kanu <NA>
20 1998            Soundarya                              Antahpuram <NA>
21 1997         Vijayashanti                          Osey Ramulamma <NA>
22 1996            Soundarya                        Pavithra Bandham <NA>
23 1995               Aamani                         Subha Sankalpam <NA>
24 1994            Soundarya                                  Ammoru <NA>
25 1993               Aamani                              Mr. Pellam <NA>
26 1992                Meena                     Rajeshwari Kalyanam <NA>
27 1991              Sridevi                          Kshana Kshanam <NA>
28 1990    VijayashantiMeena KarthavyamSeetharamaiah Gari Manavaralu
29 1989         Vijayashanti                          Bharatha Naari <NA>
30 1988           Bhanupriya                          Swarna Kamalam <NA>
31 1987            Sumalatha                            Sruthilayalu <NA>
32 1986              Lakshmi                          Sravana Megalu <NA>
33 1985         Vijayashanti                            Pratighatana <NA>
34 1984             Suhasini                                  Swathi <NA>
35 1983            Jayasudha                            Dharmaatmudu <NA>
36 1982            Jayasudha                           Meghasandesam <NA>
37 1981            Jayasudha                          Premabhishekam <NA>
38 1980            Sakuntala                                   Kukka <NA>
39 1979            Jayasudha                         Idi Katha Kaadu <NA>
40 1978                Roopa                         Naalaaga Endaro <NA>
41 1977           Lakshmi[1]                              Pantulamma <NA>
42 1976         Jayaprada[1]                         Anthuleni Kadha <NA>
43 1975         Jayasudha[1]                                  Jyothi <NA>

In [ ]:
dataDF<-as.data.frame(data)
head(dataDF)

In [11]:
dataDF$NULL.V4 <- NULL
names(dataDF) <- c("Year", "Actress", "Film")
dim(dataDF)
print(dataDF)

[1] 43  3

   Year              Actress                                    Film
1  2016           Ritu Varma                          Pelli Choopulu
2  2015       Anushka Shetty                               Size Zero
3  2014               Anjali                             Geethanjali
4  2013         Anjali Patil                      Naa Bangaaru Talli
5  2012 Samantha Ruth Prabhu               Yeto Vellipoyindhi Manasu
6  2011            Nayantara                         Sri Rama Rajyam
7  2010      Nithya Menen[5]                          Ala Modalaindi
8  2009           Thirtha[6]                             Sontha Ooru
9  2008               Swathi                            Ashta Chamma
10 2007          Charmy Kaur                                  Mantra
11 2006          Nandita Das                                   Kamli
12 2005               Trisha              Nuvvostanante Nenoddantana
13 2004  Kamalinee Mukherjee                                   Anand
14 2003      Bhoomika Chawla                                Missamma
15 2002              Kalyani           Avunu Valliddaru Ista Paddaru
16 2001              Laya[7]                               Preminchu
17 2000              Laya[8]                               Manoharam
18 1999            Maheswari                               Nee Kosam
19 1998       Ramya Krishnan                    Kante Koothurne Kanu
20 1998            Soundarya                              Antahpuram
21 1997         Vijayashanti                          Osey Ramulamma
22 1996            Soundarya                        Pavithra Bandham
23 1995               Aamani                         Subha Sankalpam
24 1994            Soundarya                                  Ammoru
25 1993               Aamani                              Mr. Pellam
26 1992                Meena                     Rajeshwari Kalyanam
27 1991              Sridevi                          Kshana Kshanam
28 1990    VijayashantiMeena KarthavyamSeetharamaiah Gari Manavaralu
29 1989         Vijayashanti                          Bharatha Naari
30 1988           Bhanupriya                          Swarna Kamalam
31 1987            Sumalatha                            Sruthilayalu
32 1986              Lakshmi                          Sravana Megalu
33 1985         Vijayashanti                            Pratighatana
34 1984             Suhasini                                  Swathi
35 1983            Jayasudha                            Dharmaatmudu
36 1982            Jayasudha                           Meghasandesam
37 1981            Jayasudha                          Premabhishekam
38 1980            Sakuntala                                   Kukka
39 1979            Jayasudha                         Idi Katha Kaadu
40 1978                Roopa                         Naalaaga Endaro
41 1977           Lakshmi[1]                              Pantulamma
42 1976         Jayaprada[1]                         Anthuleni Kadha
43 1975         Jayasudha[1]                                  Jyothi

In [12]:
# library (plyr)
# df <- ldply (data, data.frame)
# dim(df)
# head(df)

**further reference:** https://www.apress.com/in/book/9781461478997

### Using rvest package (web scrapping)

**rvest in action**

In [26]:
library(rvest)
# install.packages("xml2", repos = "http://cran.us.r-project.org")
library(xml2,lib.loc="~/R/win-library/3.4")
lego_movie <- read_html("http://www.imdb.com/title/tt1490017/")
#print(lego_movie)

In [27]:
lego_movie %>%
html_node("strong span") %>%
html_text() %>%
as.numeric()
# selector:
lego_movie %>%
html_nodes("#titleCast .itemprop span") %>%
html_text()
# The titles and authors of recent message board postings are stored in a the third table on the

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

[1] 7.8

 [1] "Will Arnett"     "Elizabeth Banks" "Craig Berry"     "Alison Brie"
 [5] "David Burrows"   "Anthony Daniels" "Charlie Day"     "Amanda Farinos"
 [9] "Keith Ferguson"  "Will Ferrell"    "Will Forte"      "Dave Franco"
[13] "Morgan Freeman"  "Todd Hansen"     "Jonah Hill"

#### Import data from wikipedia (Scrape an HTML Table)
* html_nodes: Select parts of an html document using css selectors
* html_table: Parse tables into data frames with html_table().
* read_html: Read in the content from a .html file (For xml2 and rvest packages.)
* `browseVignettes()` to check the any sample codes of the concepts

In [28]:
obesity = read_html("https://en.wikipedia.org/wiki/Obesity_in_the_United_States")
#Using rvest to Scrape an HTML Table by taking table number
obesity = obesity %>%
     html_nodes("table") %>%
     .[[2]]%>%
     html_table(fill=T)

In [29]:
dim(obesity)
head(obesity)
tail(obesity)

[1] 56  6

  States, District,\n& Territories Obese adults (mid-2000s)
1 Alabama                          30.1%
2 Alaska                           27.3%
3 American Samoa                   
4 Arizona                          23.3%
5 Arkansas                         28.1%
6 California                       23.1%
  Obese adults (2016)[52][57] Overweight (incl. obese) adults\n(mid-2000s)
1 35.7%                       65.4%
2 31.4%                       64.5%
3 75%[56]                     95%[59]
4 29.0%                       59.5%
5 35.7%                       64.7%
6 25.0%                       59.4%
  Obese children and adolescents\n(mid-2000s)[58] Obesity rank
1 16.7%                                           3
2 11.1%                                           14
3 35%[56][60]                                     
4 12.2%                                           40
5 16.4%                                           9
6 13.2%                                           41

   States, District,\n& Territories Obese adults (mid-2000s)
51 Virgin Islands (U.S.)            
52 Virginia                         25.2%
53 Washington                       24.5%
54 West Virginia                    30.6%
55 Wisconsin                        25.5%
56 Wyoming                          24.0%
   Obese adults (2016)[52][57] Overweight (incl. obese) adults\n(mid-2000s)
51 32.5%                       
52 29.0%                       61.6%
53 28.6%                       60.7%
54 37.7%                       66.8%
55 30.7%                       62.4%
56 27.7%                       61.7%
   Obese children and adolescents\n(mid-2000s)[58] Obesity rank
51                                                
52 13.8%                                           27
53 10.8%                                           32
54 20.9%                                           2
55 13.5%                                           25
56 8.7%                                            33

#### Import data from wikipedia (Using xpath)

**Steps**  
1. *browse to the desired page and locate the table*
2. *right clicked on the table you want and chose “inspect element”*
2. *choose “copy XPath”*
4. *Paste that XPath into the appropriate spot as shown in the code below*

In [3]:
library(magrittr) # for the pipe operator
library(xml2) # for read_html() function
library(rvest) # for html_nodes() and html_table()

In [4]:
url <- "https://en.wikipedia.org/wiki/List_of_districts_in_Telangana"
districts <- url %>%
  read_html() %>%
  html_nodes(xpath='//*[@id="mw-content-text"]/div/table') %>%
  html_table()
districts <- districts[[1]]

head(districts)
tail(districts)
# //*[@id="mw-content-text"]/div/table[1]/tbody/tr[7]/td[3]

  S.No. Name                     Headquarters Area (km2)
1 1     Adilabad                 Adilabad     4,153
2 2     Bhadradri Kothagudem     Kothagudem   7,483
3 3     Hyderabad                Hyderabad    217
4 4     Jagtial                  Jagtial      2,419
5 5     Jangaon                  Jangaon      2,188
6 6     Jayashankar Bhupalapally Bhupalpalle  6,175
  Population\n(2011 census) No.of mandals Density\n(per km2) Urban (%)
1 708,972                   18              171               23.66
2 1,069,261                 23              143               31.71
3 3,943,323                 16            18172              100.00
4 985,417                   18              407               22.46
5 566,376                   13              259               12.60
6 711,434                   20              115                7.57
  Literacy (%) Sex Ratio
1 63.46         989
2 66.40        1008
3 83.25         954
4 60.26        1036
5 61.44         997
6 60.33        1009

   S.No.     Name                Headquarters Area (km2)
27 27        Vikarabad[9]        Vikarabad    3,386
28 28        Wanaparthy          Wanaparthy   2,152
29 29        Warangal Rural      Warangal     2,175
30 30        Warangal Urban      Warangal     1,309
31 31        Yadadri Bhuvanagiri Bhongir      3,092
32 Telangana -                   -            112,077
   Population\n(2011 census) No.of mandals Density\n(per km2) Urban (%)
27 927,140                    18           274                13.48
28 577,758                    14           268                15.97
29 718,537                    15           330                 6.99
30 1,080,858                  11           826                68.51
31 739,448                    16           239                16.66
32 35,003,674                584           312                38.88
   Literacy (%) Sex Ratio
27 57.91        1001
28 55.67         960
29 61.26         994
30 76.17         997
31 65.53         973
32 66.54         988

**Further References:**  https://stat4701.github.io/edav/2015/04/02/rvest_tutorial/

## Importing Data From Other Statistical softwares
* Packages
    * haven
    * foreign
    * Hmisc    
* From SAS
* From Stata
* From SPSS

![Imgur](https://i.imgur.com/hRvafeg.png)

### haven package

#### From SAS

In [31]:
# install.packages("haven", repos = "http://cran.us.r-project.org")
library(haven)
ontime <- read_sas("data/sales.sas7bdat")
head(ontime)

Warning message:
"package 'haven' was built under R version 3.4.3"

  purchase age gender income
1 0        41  Female Low
2 0        47  Female Low
3 1        41  Female Low
4 1        39  Female Low
5 0        32  Female Low
6 0        32  Female Low

#### From Stata

In [32]:
trade <- read_stata("data/trade.dta")
head(trade)
trade <- read_dta("data/trade.dta")
head(trade)

  Date Import   Weight_I Export    Weight_E
1 10   37664782 54029106  54505513  93350013
2  9   16316512 21584365 102700010 158000010
3  8   11082246 14526089  37935000  88000000
4  7   35677943 55034932  48515008 112000005
5  6    9879878 14806865  71486545 131800000
6  5    1539992  1749318  12311696  18500014

  Date Import   Weight_I Export    Weight_E
1 10   37664782 54029106  54505513  93350013
2  9   16316512 21584365 102700010 158000010
3  8   11082246 14526089  37935000  88000000
4  7   35677943 55034932  48515008 112000005
5  6    9879878 14806865  71486545 131800000
6  5    1539992  1749318  12311696  18500014

#### From SPSS

In [33]:
Anxiety <- read_spss("data/Anxiety 2.sav")
Anxiety

   subject anxiety tension trial1 trial2 trial3 trial4
1   1      1       1       18     14     12     6
2   2      1       1       19     12      8     4
3   3      1       1       14     10      6     2
4   4      1       2       16     12     10     4
5   5      1       2       12      8      6     2
6   6      1       2       18     10      5     1
7   7      2       1       16     10      8     4
8   8      2       1       18      8      4     1
9   9      2       1       16     12      6     2
10 10      2       2       19     16     10     8
11 11      2       2       16     14     10     9
12 12      2       2       16     12      8     8

### foreign package

In [34]:
library(foreign)
# from SAS
#nstall.packages("sas7bdat", repos = "http://cran.us.r-project.org")
library(sas7bdat)
mydata <- read.sas7bdat("data/sales.sas7bdat") 
head(mydata)
# from stata
mydata <- read.dta("data/trade.dta")
head(mydata)
# from SPSS
mySPSSData <- read.spss("data/Anxiety 2.sav",
                       to.data.frame=TRUE,
                       use.value.labels=FALSE)
head(mySPSSData)

  purchase age gender income
1 0        41  Female Low
2 0        47  Female Low
3 1        41  Female Low
4 1        39  Female Low
5 0        32  Female Low
6 0        32  Female Low

  Date       Import   Weight_I Export    Weight_E
1 2013-12-31 37664782 54029106  54505513  93350013
2 2012-12-31 16316512 21584365 102700010 158000010
3 2011-12-31 11082246 14526089  37935000  88000000
4 2010-12-31 35677943 55034932  48515008 112000005
5 2009-12-31  9879878 14806865  71486545 131800000
6 2008-12-31  1539992  1749318  12311696  18500014

re-encoding from CP1252

  subject anxiety tension trial1 trial2 trial3 trial4
1 1       1       1       18     14     12     6
2 2       1       1       19     12      8     4
3 3       1       1       14     10      6     2
4 4       1       2       16     12     10     4
5 5       1       2       12      8      6     2
6 6       1       2       18     10      5     1

### Hmisc package

In [35]:
# from SAS
# from stata
# from SPSS

## One package for basic import/export (`rio` **package**)

```{r}library("rio")
# Importing data is handled with one function, import():
x <- import("mtcars.csv")
y <- import("mtcars.rds")
z <- import("mtcars.sav")

# Exporting data is handled with one function, export():

export(mtcars, "mtcars.csv") # comma-separated values
export(mtcars, "mtcars.rds") # R serialized
export(mtcars, "mtcars.sav") # SPSS```

**further references:**    
https://github.com/leeper/rio  
https://cran.r-project.org/web/packages/rio/vignettes/rio.html