![Imgur](https://i.imgur.com/9f5keQe.png)

![Imgur](https://i.imgur.com/jYN6L0X.png?1)

### Critical Value approach

![Imgur](https://i.imgur.com/QGnkJsp.png)

If test statistic < critical value: Fail to reject the null hypothesis.  
If test statistic >= critical value: Reject the null hypothesis.

### p-value approach

**p- values **

If p-value <= alpha: Reject the null hypothesis (i.e. significant result).  
If p-value > alpha: Fail to reject the null hypothesis (i.e. not signifiant result).

Statistical test rejection statement is in terms of the dichotomy of rejecting and fail to rejecting the null hypothesis.  

<span style="color:red">Rejecting the null hypothesis</span> means that there is <span style="color:red">sufficient statistical evidence</span> that the null hypothesis does not look likely.     

<span style="color:red">Fail to reject the null hypothesis,</span> as in, there is <span style="color:red">insufficient statistical evidence</span> to reject it.

![Imgur](https://i.imgur.com/PUAA4mR.jpg?1)

**HOW TO DEFINE A NULL HYPOTHESIS:**
* Every hypothesis test contains a set of two opposing statements, or hypotheses, about a population parameter
* The first hypothesis is called the null hypothesis, denoted **H0**
* The null hypothesis always states that **the population parameter is equal to the claimed value**
* For example, if the claim is that the average waiting time to get an ordered item in a hotel is five minutes  
![Imgur](https://i.imgur.com/S4SqUQ1.png)(That is, the population mean is 5 minutes.)

**HOW TO DEFINE AN ALTERNATIVE HYPOTHESIS**  
* three possibilities exist for the second (or alternative) hypothesis, denoted **Ha**
![Imgur](https://i.imgur.com/qOhBYaI.png)

if you want to test whether the hotel is correct in claiming its average waiting time to get an ordered item five minutes and it **it doesnâ€™t matter whether the actual average time is more or less than that, you use the not-equal-to alternative**. Your hypotheses for that test would be
![Imgur](https://i.imgur.com/iqHyi7S.png)

If you only want to see whether the time turns out to be **greater than what the hotel claim** (that is, whether the company is falsely advertising its quick prep time), **you use the greater-than alternative**, and your two hypotheses are
![Imgur](https://i.imgur.com/7KxVK5D.png)

If you think **the average waiting time for an ordered item can be in less than five minutes** (and could be marketed by the hotel as such). **The less-than alternative is the one you want**, and your two hypotheses would be
![Imgur](https://i.imgur.com/ky7hnOw.png)

### Type I and Type II Errors

![Imgur](https://i.imgur.com/yYmql3R.png?1)

![Imgur](https://i.imgur.com/czKU38H.png)

![Imgur](https://i.imgur.com/gfyfuWJ.png)

![Imgur](https://i.imgur.com/eugQbwB.png)

install.packages("ISLR",repos="https://cran.r-project.org")

In [1]:
library(ISLR)

Warning message:
"package 'ISLR' was built under R version 3.4.3"

In [2]:
dim(Wage)

[1] 3000   11

In [3]:
?Wage

In [4]:
try(data(package="ISLR"))

In [5]:
head(Wage)

       year age maritl           race     education       region
231655 2006 18  1. Never Married 1. White 1. < HS Grad    2. Middle Atlantic
86582  2004 24  1. Never Married 1. White 4. College Grad 2. Middle Atlantic
161300 2003 45  2. Married       1. White 3. Some College 2. Middle Atlantic
155159 2003 43  2. Married       3. Asian 4. College Grad 2. Middle Atlantic
11443  2005 50  4. Divorced      1. White 2. HS Grad      2. Middle Atlantic
376662 2008 54  2. Married       1. White 4. College Grad 2. Middle Atlantic
       jobclass       health         health_ins logwage  wage
231655 1. Industrial  1. <=Good      2. No      4.318063  75.04315
86582  2. Information 2. >=Very Good 2. No      4.255273  70.47602
161300 1. Industrial  1. <=Good      1. Yes     4.875061 130.98218
155159 2. Information 2. >=Very Good 1. Yes     5.041393 154.68529
11443  2. Information 1. <=Good      1. Yes     4.318063  75.04315
376662 2. Information 2. >=Very Good 1. Yes     4.845098 127.11574

In [6]:
# test the hypothesis whether the average wage of male workers in the Mid-Atlantic region is greater than or equal to 50, 5500 
t.test(Wage$wage,alternative = "less", mu = 250.7036)
options(scipen = 999)

	One Sample t-test

data:  Wage$wage
t = -182.45, df = 2999, p-value < 2.2e-16
alternative hypothesis: true mean is less than 250.7036
95 percent confidence interval:
     -Inf 112.9571
sample estimates:
mean of x
 111.7036

## Practice

http://www.statstutor.ac.uk/types/tests-and-quizzes/confidence-intervals-and-hypothesis-testing/