# Table of Contents
 <p><div class="lev2 toc-item"><a href="#Built-in-Functions" data-toc-modified-id="Built-in-Functions-0.1"><span class="toc-item-num">0.1&nbsp;&nbsp;</span>Built-in Functions</a></div><div class="lev2 toc-item"><a href="#User-Defined-Functions" data-toc-modified-id="User-Defined-Functions-0.2"><span class="toc-item-num">0.2&nbsp;&nbsp;</span>User Defined Functions</a></div><div class="lev3 toc-item"><a href="#Objects-&amp;-Functions" data-toc-modified-id="Objects-&amp;-Functions-0.2.1"><span class="toc-item-num">0.2.1&nbsp;&nbsp;</span>Objects &amp; Functions</a></div><div class="lev3 toc-item"><a href="#Default-Arguments" data-toc-modified-id="Default-Arguments-0.2.2"><span class="toc-item-num">0.2.2&nbsp;&nbsp;</span>Default Arguments</a></div><div class="lev3 toc-item"><a href="#Automatic-Returns" data-toc-modified-id="Automatic-Returns-0.2.3"><span class="toc-item-num">0.2.3&nbsp;&nbsp;</span>Automatic Returns</a></div><div class="lev3 toc-item"><a href="#Named-Arguments" data-toc-modified-id="Named-Arguments-0.2.4"><span class="toc-item-num">0.2.4&nbsp;&nbsp;</span>Named Arguments</a></div><div class="lev3 toc-item"><a href="#Functions-in-R-are" data-toc-modified-id="Functions-in-R-are-0.2.5"><span class="toc-item-num">0.2.5&nbsp;&nbsp;</span>Functions in R are</a></div><div class="lev3 toc-item"><a href="#Lazy-evaluation" data-toc-modified-id="Lazy-evaluation-0.2.6"><span class="toc-item-num">0.2.6&nbsp;&nbsp;</span>Lazy evaluation</a></div><div class="lev3 toc-item"><a href="#Lazy-evaluation-of-args" data-toc-modified-id="Lazy-evaluation-of-args-0.2.7"><span class="toc-item-num">0.2.7&nbsp;&nbsp;</span>Lazy evaluation of args</a></div><div class="lev3 toc-item"><a href="#Anonymous-(nameless)-functions-AND-named-functions" data-toc-modified-id="Anonymous-(nameless)-functions-AND-named-functions-0.2.8"><span class="toc-item-num">0.2.8&nbsp;&nbsp;</span>Anonymous (nameless) functions AND named functions</a></div><div class="lev3 toc-item"><a href="#Local-variable:-by-value" data-toc-modified-id="Local-variable:-by-value-0.2.9"><span class="toc-item-num">0.2.9&nbsp;&nbsp;</span>Local variable: by value</a></div><div class="lev3 toc-item"><a href="#Scope-of-Variables" data-toc-modified-id="Scope-of-Variables-0.2.10"><span class="toc-item-num">0.2.10&nbsp;&nbsp;</span>Scope of Variables</a></div><div class="lev3 toc-item"><a href="#global-assignment-of-variable-insind-a-function" data-toc-modified-id="global-assignment-of-variable-insind-a-function-0.2.11"><span class="toc-item-num">0.2.11&nbsp;&nbsp;</span>global assignment of variable insind a function</a></div><div class="lev2 toc-item"><a href="#Apply-Family-of-Functions" data-toc-modified-id="Apply-Family-of-Functions-0.3"><span class="toc-item-num">0.3&nbsp;&nbsp;</span>Apply Family of Functions</a></div><div class="lev3 toc-item"><a href="#apply" data-toc-modified-id="apply-0.3.1"><span class="toc-item-num">0.3.1&nbsp;&nbsp;</span>apply</a></div><div class="lev3 toc-item"><a href="#lapply" data-toc-modified-id="lapply-0.3.2"><span class="toc-item-num">0.3.2&nbsp;&nbsp;</span>lapply</a></div><div class="lev3 toc-item"><a href="#saplly" data-toc-modified-id="saplly-0.3.3"><span class="toc-item-num">0.3.3&nbsp;&nbsp;</span>saplly</a></div><div class="lev3 toc-item"><a href="#taplly" data-toc-modified-id="taplly-0.3.4"><span class="toc-item-num">0.3.4&nbsp;&nbsp;</span>taplly</a></div><div class="lev3 toc-item"><a href="#aggregate" data-toc-modified-id="aggregate-0.3.5"><span class="toc-item-num">0.3.5&nbsp;&nbsp;</span>aggregate</a></div><div class="lev3 toc-item"><a href="#Difference-between-how-apply-and-sapply-handles-the-data" data-toc-modified-id="Difference-between-how-apply-and-sapply-handles-the-data-0.3.6"><span class="toc-item-num">0.3.6&nbsp;&nbsp;</span>Difference between how apply and sapply handles the data</a></div><div class="lev3 toc-item"><a href="#mapply" data-toc-modified-id="mapply-0.3.7"><span class="toc-item-num">0.3.7&nbsp;&nbsp;</span>mapply</a></div><div class="lev2 toc-item"><a href="#Other-usefull-functions" data-toc-modified-id="Other-usefull-functions-0.4"><span class="toc-item-num">0.4&nbsp;&nbsp;</span>Other usefull functions</a></div><div class="lev3 toc-item"><a href="#by" data-toc-modified-id="by-0.4.1"><span class="toc-item-num">0.4.1&nbsp;&nbsp;</span>by</a></div><div class="lev3 toc-item"><a href="#with" data-toc-modified-id="with-0.4.2"><span class="toc-item-num">0.4.2&nbsp;&nbsp;</span>with</a></div><div class="lev3 toc-item"><a href="#attach-function" data-toc-modified-id="attach-function-0.4.3"><span class="toc-item-num">0.4.3&nbsp;&nbsp;</span>attach function</a></div>

## Built-in Functions
used by the user to make their work easier. Eg: mean(x), sum(x) ,sqrt(x),toupper(x), etc.

| Function           | Description                                                                                                                 |
|--------------------|-----------------------------------------------------------------------------------------------------------------------------|
| abs(x)             | absolute value                                                                                                              |
| sqrt(x)            | square root                                                                                                                 |
| ceiling(x)         | ceiling(3.475) is 4                                                                                                         |
| trunc(x)           | trunc(5.99) is 5                                                                                                            |
| round(x, digits=n) | round(3.475, digits=2) is 3.48                                                                                              |
| log(x)             | natural logarithm                                                                                                           |
| log10(x)           | common logarithm                                                                                                            |
| exp(x)             | e^x                                                                                                                         |
| strsplit(x, split) | Split the elements of character vector x at split.strsplit("abc", "") returns 3 element vector "a","b","c"                  |
| paste(..., sep="") | paste("x",1:3,sep="") returns c("x1","x2" "x3")paste("x",1:3,sep="M") returns c("xM1","xM2" "xM3")paste("Today is", date()) |
| toupper(x)         | Uppercase                                                                                                                   |
| tolower(x)         | Lowercase                                                                                                                   |

[some useful functions per category](http://www.sr.bham.ac.uk/~ajrs/R/r-function_list.html#general)

## User Defined Functions

Sets of instructions that you want to use repeatedly, it is a piece of code written to carry out a specified task, these functions are created by the user to meet a specific requirement of the user.    

* Function Name 
* Arguments
* Function Body 
* Return Value

### Objects & Functions
**To understand in R two slogans are helpful:**
> 1. Everything that exists is an **object**
> 2. Everything that happens is a **function** call

**syntax**

```
function_name <–function(arg_1, arg_2, …) { 

//Function body 

}
```

**Example1:**

In [79]:
# the sum of the squares of 2 numbers
sum_of_squares <- function(x,y) {
x^2 + y^2
}

In [80]:
sum_of_squares(3,4)

[1] 25

**Example2:**

In [81]:
pow <- function(x, y) {
   # function to print x raised to the power y

   result <- x^y
   print(paste(x,"raised to the power", y, "is", result))
}

### Default Arguments

In [82]:
# Create a function with arguments.
new.function <- function(a = 3, b = 6) {
   result <- a * b
   print(result)
}

# Call the function without giving any argument.
new.function()

# Call the function with giving new values of the argument.
new.function(9,5)

[1] 18
[1] 45

In [83]:
# Define the function and specify the exponent, second argument directly
# Sets default of exponent to 2 (just square)
MyThirdFun <- function(n, y = 2) 
{
  # Compute the power of n to the y
  n^y  
}

# Specify both args
MyThirdFun(2,3) 

# Just specify the first arg
MyThirdFun(2)   

# Specify no argument: error!
# MyThirdFun()

[1] 8

[1] 4

### Automatic Returns
* In R, it is not necessary to include the return statement. R automatically returns whichever variable is on the last line of the body of the function.
* OR we can explicitly define the return statement.

In [84]:
add <- function(x,y=1,z=2){
    x+y
    x+z
}
add(5)

[1] 7

In [85]:
add <- function(x,y=1,z=2){
    x+y
    x+z
    return(x+y)
}
add(5)

[1] 6

In [86]:
fahr_to_kelvin <- function(temp) {
  kelvin <- ((temp - 32) * (5 / 9)) + 273.15
  return(kelvin)
}

In [87]:
# freezing point of water
fahr_to_kelvin(32)
# boiling point of water
fahr_to_kelvin(212)

[1] 273.15

[1] 373.15

### Named Arguments

In [88]:
pow <- function(x, y) {
   # function to print x raised to the power y

   result <- x^y
   print(paste(x,"raised to the power", y, "is", result))
}

In [89]:
# 8 raised to the power 2 is 64
pow(8, 2)
# 8 raised to the power 2 is 64
pow(x = 8, y = 2)
# 8 raised to the power 2 is 64
pow(y = 2, x = 8)

[1] "8 raised to the power 2 is 64"
[1] "8 raised to the power 2 is 64"
[1] "8 raised to the power 2 is 64"

### Functions in R are 
**first class objects**  
1. can be treated as much like any other objects
2. Can be passed as arguments to othre functions
3. Can be nested so that you can define a function in another function
4. Return value is the last expression in the function body

### Lazy evaluation

In [90]:
fun <- function(a,b){
    a^2
}
fun(2,x/0)

[1] 4

### Lazy evaluation of args

In [91]:
fun <- function(x){
    10
}
fun("hello")

[1] 10

### Anonymous (nameless) functions AND named functions

In [92]:
# Anonymous
(function(x) x*10)(5)

[1] 50

In [93]:
# named function define
named <- function(x) x*10
# calling a named function
    named(6)

[1] 60

### Local variable: by value

In [94]:
#### Local variable: by value

x <- 5 # global assignment of x is not used by the fun
fun <- function(x){
    #parameter x is passed by value (copy)
    x <- x+1 # local variable is modified
    print(x)
}

fun(1) # prints 
print(x) # print 5, since global x has not changed

[1] 2
[1] 5

### Scope of Variables
* Functions can accept arguments explicitly assigned to a variable name in in the function call `functionName(variable = value)`, as well as arguments by order:

In [95]:
input_1 = 20
mySum <- function(input_1, input_2 = 10) {
  output <- input_1 + input_2
  return(output)
}

In [96]:
mySum(input_1 = 1, 3)

[1] 4

In [97]:
mySum(3)

[1] 13

In [98]:
# mySum(input_2 = 3)

### global assignment of variable insind a function

In [99]:
x <- 10
mySum <- function(input_1a=input_1, input_2=x) { # using input_1 here by declarig global assignment latter
input_1 <<-25 # var assigned inside the function for global access purpose  
  output <- input_1 + input_2
  return(output)
}
mySum(input_1)

[1] 35

## Apply Family of Functions


* **apply** - apply over the margins of an array (e.g. the rows or columns of a matrix)
* **lapply** - apply a function to each element of a list in turn and get a list back.
* **sapply** - apply a function to each element of a list and get a simplified object like vector back, rather than a list.
* **tapply** - apply a function to subsets of a vector and the subsets are defined by some other vector, usually a factor.
* **mapply** - apply a function to the 1st elements of each, and then the 2nd elements of each, etc

![Imgur](https://i.imgur.com/VT609hm.png?1)

In [100]:
set.seed(111)
m <- matrix(data=cbind(rnorm(30, 0), rnorm(30, 2), rnorm(30, 5)), nrow=30, ncol=3)
m

      [,1]        [,2]       [,3]
 [1,]  0.23522071 -1.1132173 4.783571
 [2,] -0.33073587  1.0586426 6.446478
 [3,] -0.31162382  3.4002588 5.409710
 [4,] -2.30234566  0.3795300 5.910917
 [5,] -0.17087604 -0.2659960 6.430358
 [6,]  0.14027823  3.1629936 4.618708
 [7,] -1.49742666  1.8838450 5.202307
 [8,] -1.01018842  2.3342560 4.193801
 [9,] -0.94847560  1.3791419 5.294634
[10,] -0.49396222  0.6901551 6.404883
[11,] -0.17367413  0.8242740 6.023767
[12,] -0.40659878  0.8787845 5.476126
[13,]  1.84563626  0.6380955 4.329670
[14,]  0.39405411  2.4811246 5.159234
[15,]  0.79752850  2.7419716 4.617285
[16,] -1.56666536  2.0278246 5.935763
[17,] -0.08585101  2.3313797 4.368468
[18,] -0.35913948  2.6441141 4.901694
[19,] -1.19360897  4.4856616 6.031985
[20,]  0.36418674  3.9599817 5.387808
[21,]  0.36166245  2.1916634 3.743871
[22,]  0.34696437  3.5525443 4.213047
[23,]  0.18973653  2.9142423 5.429812
[24,] -0.15957681  2.3586254 4.623584
[25,]  0.32654924  2.1750956 3.783771
[26,]  0.59825420  1.1527322 6.029279
[27,] -1.84153430  2.9782317 5.430397
[28,]  2.71805560  3.8058683 3.754426
[29,]  0.19124439  2.1229148 4.397272
[30,] -1.30129607  1.8702280 5.660069

### apply
* When you want to apply a function to the rows or columns of a matrix (and higherdimensional analogues); 
* not generally advisable for data frames as it will coerce to a matrix first

In [101]:
# traverse row wise
apply(m, 1, mean)

 [1] 1.301858 2.391462 2.832782 1.329367 1.997829 2.640660 1.862908 1.839289
 [9] 1.908433 2.200359 2.224789 1.982771 2.271134 2.678138 2.718928 2.132307
[17] 2.204665 2.395556 3.108013 3.237326 2.099066 2.704185 2.844597 2.274211
[25] 2.095139 2.593422 2.189031 3.426117 2.237144 2.076334

In [102]:
# traverse column wise
# using Our own functions
apply(m, 2, function(x) length(x[x<0]))

[1] 17  2  0

### lapply
* When you want to apply a function to each element of a list/vector in turn and get a list back

In [103]:
lapply(1:3, function(x) x^2)

[[1]]
[1] 1

[[2]]
[1] 4

[[3]]
[1] 9

In [104]:
# you can use unlist with lapply to get a vector
unlist(lapply(1:3, function(x) x^2))

[1] 1 4 9

In [105]:
#simplify2array and sapply
simplify2array(lapply(1:3, function(x) x^2))

[1] 1 4 9

### saplly
* When you want to apply a function to each element of a list in turn, but you want avector back, rather than a list

In [106]:
sapply(1:3, function(x) x^2)

[1] 1 4 9

In [107]:
print(sapply(1:3, function(x) x^2,simplify = FALSE))

[[1]]
[1] 1

[[2]]
[1] 4

[[3]]
[1] 9

### taplly

In [108]:
print(tapply(mtcars$wt,mtcars$cyl,mean))

       4        6        8
2.285727 3.117143 3.999214

In [109]:
print(tapply(iris$Sepal.Length,iris$Species,mean))

    setosa versicolor  virginica
     5.006      5.936      6.588

In [110]:
print(tapply(iris$Sepal.Length,iris$Species,mean))

    setosa versicolor  virginica
     5.006      5.936      6.588

In [111]:
# Without simplification, tapply always returns a list.
tapply(iris$Sepal.Length,iris$Species,mean, simplify = FALSE)

$setosa
[1] 5.006

$versicolor
[1] 5.936

$virginica
[1] 6.588

In [112]:
# split function splits a vector into groups using a factor.Using split 
# and then applying a function with lapply produces the same result as tapply
lapply(split(iris$Sepal.Length,iris$Species), mean) # Instead of tapply

$setosa
[1] 5.006

$versicolor
[1] 5.936

$virginica
[1] 6.588

### aggregate
* The aggregate function splits the data into subsets and computes summary statistics for each of them. 
* The output of aggregate is a data.frame, including a column for species.

In [113]:
# ?tapply
# ?aggregate

In [114]:
iris.x <- subset(iris, select= -Species) # subsetting without Species
iris.s <- subset(iris, select= Species) # subsetting only Species
aggregate(iris.x, iris.s, mean)

  Species    Sepal.Length Sepal.Width Petal.Length Petal.Width
1 setosa     5.006        3.428       1.462        0.246
2 versicolor 5.936        2.770       4.260        1.326
3 virginica  6.588        2.974       5.552        2.026

In [115]:
aggregate(x = mtcars, by = list(mtcars$carb), FUN = median)

  Group.1 mpg   cyl disp   hp  drat  wt    qsec   vs  am gear carb
1 1       22.80 4   108.00  93 3.850 2.320 19.470 1.0 1  4.0  1
2 2       22.10 4   143.75 111 3.730 3.170 17.175 0.5 0  4.0  2
3 3       16.40 8   275.80 180 3.070 3.780 17.600 0.0 0  3.0  3
4 4       15.25 8   350.50 210 3.815 3.505 17.220 0.0 0  3.5  4
5 6       19.70 6   145.00 175 3.620 2.770 15.500 0.0 1  5.0  6
6 8       15.00 8   301.00 335 3.540 3.570 14.600 0.0 1  5.0  8

In [116]:
## example with character variables and NAs
testDF <- data.frame(v1 = c(1,3,5,7,8,3,5,NA,4,5,7,9),
                     v2 = c(11,33,55,77,88,33,55,NA,44,55,77,99) )
by1 <- c("red", "blue", 1, 2, NA, "big", 1, 2, "red", 1, NA, 12)
by2 <- c("wet", "dry", 99, 95, NA, "damp", 95, 99, "red", 99, NA, NA)
aggregate(x = testDF, by = list(by1, by2), FUN = "mean")

  Group.1 Group.2 v1 v2
1 1       95       5 55
2 2       95       7 77
3 1       99       5 55
4 2       99      NA NA
5 big     damp     3 33
6 blue    dry      3 33
7 red     red      4 44
8 red     wet      1 11

In [117]:
## Formulas, one ~ one, one ~ many, many ~ one, and many ~ many:
aggregate(weight ~ feed, data = chickwts, mean)
aggregate(breaks ~ wool + tension, data = warpbreaks, mean)
aggregate(cbind(Ozone, Temp) ~ Month, data = airquality, mean)
aggregate(cbind(ncases, ncontrols) ~ alcgp + tobgp, data = esoph, sum)

## Dot notation:
aggregate(. ~ Species, data = iris, mean)
aggregate(len ~ ., data = ToothGrowth, mean)

  feed      weight
1 casein    323.5833
2 horsebean 160.2000
3 linseed   218.7500
4 meatmeal  276.9091
5 soybean   246.4286
6 sunflower 328.9167

  wool tension breaks
1 A    L       44.55556
2 B    L       28.22222
3 A    M       24.00000
4 B    M       28.77778
5 A    H       24.55556
6 B    H       18.77778

  Month Ozone    Temp
1 5     23.61538 66.73077
2 6     29.44444 78.22222
3 7     59.11538 83.88462
4 8     59.96154 83.96154
5 9     31.44828 76.89655

   alcgp     tobgp    ncases ncontrols
1  0-39g/day 0-9g/day  9     261
2  40-79     0-9g/day 34     179
3  80-119    0-9g/day 19      61
4  120+      0-9g/day 16      24
5  0-39g/day 10-19    10      84
6  40-79     10-19    17      85
7  80-119    10-19    19      49
8  120+      10-19    12      18
9  0-39g/day 20-29     5      42
10 40-79     20-29    15      62
11 80-119    20-29     6      16
12 120+      20-29     7      12
13 0-39g/day 30+       5      28
14 40-79     30+       9      29
15 80-119    30+       7      12
16 120+      30+      10      13

  Species    Sepal.Length Sepal.Width Petal.Length Petal.Width
1 setosa     5.006        3.428       1.462        0.246
2 versicolor 5.936        2.770       4.260        1.326
3 virginica  6.588        2.974       5.552        2.026

  supp dose len
1 OJ   0.5  13.23
2 VC   0.5   7.98
3 OJ   1.0  22.70
4 VC   1.0  16.77
5 OJ   2.0  26.06
6 VC   2.0  26.14

### Difference between how apply and sapply handles the data

In [118]:
df <- data.frame(ingr=c("2L",6L, 7L),fctr=c(TRUE,FALSE,TRUE))

In [119]:
apply(df,2,class)
sapply(df,class)

       ingr        fctr
"character" "character"

     ingr      fctr
 "factor" "logical"

### mapply
* Multivariate version of sapply
* It applies FUN to the first elements of each (…) argument,  the second elements, the third elements, and so on.
* Note that the **first argument of mapply() here is the name of a function**
* advisable when you have several data structures (e.g. vectors, lists) and you want to apply a function over elements

In [120]:
l1 <- list(a = c(1:10), b = c(11:20))
l2 <- list(c = c(21:30), d = c(31:40))
# sum the corresponding elements of l1 and l2
print(mapply(sum, l1$a, l1$b, l2$c, l2$d))

 [1]  64  68  72  76  80  84  88  92  96 100

In [121]:
print(mapply(sum, l1))
#sum(c(1:10))

  a   b
 55 155

In [122]:
print(mapply(sum, l1,l2))
#sum(c(1:10),c(21:30))

  a   b
310 510

In [123]:
print(mapply(sum, l1$a, l1$b))

 [1] 12 14 16 18 20 22 24 26 28 30

In [124]:
print(mapply(sum, l1$a, l1$b, l2$c, l2$d))

 [1]  64  68  72  76  80  84  88  92  96 100

In [125]:
# Map - A wrapper to mapply with SIMPLIFY = FALSE, so it is guaranteed to return a list
print(Map(sum, l1$a, l1$b, l2$c, l2$d))

[[1]]
[1] 64

[[2]]
[1] 68

[[3]]
[1] 72

[[4]]
[1] 76

[[5]]
[1] 80

[[6]]
[1] 84

[[7]]
[1] 88

[[8]]
[1] 92

[[9]]
[1] 96

[[10]]
[1] 100

## Other usefull functions
* by 
* with
* attach

### by
* applys a function to each level of a factor or factors
* split your data by factors and do calculations on each subset
* similar to group by function in SQL, applied to factors, where in we may apply operations on individual results set.

In [126]:
# we apply colMeans() function to all the observations on iris dataset grouped by Species.
b <- by(iris[, 1:4], iris$Species, colMeans)

In [127]:
b

iris$Species: setosa
Sepal.Length  Sepal.Width Petal.Length  Petal.Width
       5.006        3.428        1.462        0.246
------------------------------------------------------------
iris$Species: versicolor
Sepal.Length  Sepal.Width Petal.Length  Petal.Width
       5.936        2.770        4.260        1.326
------------------------------------------------------------
iris$Species: virginica
Sepal.Length  Sepal.Width Petal.Length  Petal.Width
       6.588        2.974        5.552        2.026

### with
* applys an expression to a dataset  
**syntax:** `with(data, expression)`

In [128]:
with(mtcars, mpg[cyl == 8  &  disp > 350])
    # is the same as, but nicer than
mtcars$mpg[mtcars$cyl == 8  &  mtcars$disp > 350]

[1] 18.7 14.3 10.4 10.4 14.7 19.2 15.8

[1] 18.7 14.3 10.4 10.4 14.7 19.2 15.8

In [129]:
mydata.new <- mydata #take original data into another data frame

In [130]:
mydata.new$x2 <- mydata.new$x  ^ 2
mydata.new$x3 <- mydata.new$x2 + 100
print(mydata.new)

  x x2  x3
1 1  1 101
2 2  4 104
3 3  9 109
4 4 16 116
5 5 25 125

### attach function
* Use the names like “x" instead of “mydata$x".
* The attach function allows you to use short names to refer to variables in a data frame

In [131]:
# the attach function is tricky to use. Here’s the most common mistake made by beginners
mydata.new <- mydata
attach(mydata.new)
x2 <- x  ^ 2 
x3 <- x2 + 100
print(mydata.new)

The following object is masked _by_ .GlobalEnv:

    x

The following object is masked from mydata.new (pos = 3):

    x

  x
1 1
2 2
3 3
4 4
5 5

In [132]:
mtcars[mtcars$cyl==4,]

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Datsun 710     22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Merc 240D      24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230       22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Fiat 128       32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic    30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona  21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Fiat X1-9      27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2